<div id="contact-us-submit-success" class="modal" tabindex="-1" data-backdrop="false" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body p-30">
                <div class="submit-header">
                    <p class="title font-size-20 color-dark-5 font-weight-600 mb-0">Thank You</p>
                    <button id="__pg_contact-us_submit-success_btn_right-top_close" type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span data-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="space30"></div>
                <p class="font-size-19 color-dark-5 mb-0">Your form has been submitted successfully. To download whitepaper, please click the button below.</p>
                <div class="space20"></div>
                <div class="text-center">
                    <button id="__pg_download-whitepaper_submit-success_btn_close" type="button" class="btn btn-primary" data-dismiss="modal">
                        <span class="download-loading" id="download-whitepaper_loading">
                            <i class="icofont-spinner"></i>
                        </span>
                        Download
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
