---
layout: default
title: "Tidy3D GUI Release | Flexcompute"
author: Flexcompute
custom_font: font2
description: "The Tidy3D web Graphical User Interface (GUI) release page records the evolution history of Tidy3D GUI. Stay informed about the latest enhancements, features, and  optimizations as we continuously refine and elevate your simulation experience."
tags:
  - tidy3d web gui
  - tidy3d gui
  - tidy3d graphical user interface
  - tidy3d release
custom_css:
  - release-notes
dynamic_js:
  - https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest
  - https://cdn.jsdelivr.net/npm/@editorjs/header@latest
  - https://cdn.jsdelivr.net/npm/@editorjs/marker@latest
  - https://cdn.jsdelivr.net/npm/@editorjs/inline-code@latest
  - https://cdn.jsdelivr.net/npm/@editorjs/nested-list@latest
---
{% include header.html extra_class="absolute transparent" logo_class="logo fc-logo" container_class="container" %}
<div class="wrapper bg-opacity-default">
  <div class="container inner pt-60 pb-0">
    <div id="release-notes-container">
      <div class="loading-container"><i class="icofont-spinner"></i></div>
    </div>
  </div>
</div>
{% include footer_2.html %}
<script>
  const loadingContainer = document.querySelector('#release-notes-container>.loading-container')
  document.addEventListener('DOMContentLoaded', e => {
    const editor = new EditorJS({
      holder: 'release-notes-container',
      readOnly: true,
      onReady: () => {
        loadingContainer.classList.add('d-none')
      },
      data: {{site.data.release_notes['tidy3d-web-client']|jsonify}},
      tools: {
        header: Header,
        nestedList: {
          class: NestedList,
          inlineToolbar: true,
          config: {
            defaultStyle: 'order'
          },
        },
        marker: {
          class: Marker,
        },
        inlineCode: InlineCode
      }
    })
  })
</script>
