<div id="teaching-program-form-submit-success" class="modal" tabindex="-1" data-backdrop="false" data-keyboard="false">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body p-30">
        <div class="text-center">
          <img width="36" height="36" src="/assets/images/congratulations.png" alt="Thanks for applying">
          <div class="space5"></div>
          <p class="font-size-14 color-dark-3 line-height-24 pl-30 pr-30">Thank you for applying to the Tidy3D Teaching Program! Our representatives will be in touch within 2 business days with further information about the next steps.</p>
          <button
                  type="button"
                  class="btn btn-sm m-0 btn-primary border-radius-4"
                  data-dismiss="modal"
                  aria-label="Close"
                  style="width: 80px"
                  onclick="onClose()"
          >
            OK
          </button>
        </div>
        <div class="space20"></div>
      </div>
    </div>
  </div>
</div>
