---
layout: default
title: "CFD and Electromagnetic Simulations | Flexcompute"
description: Our simulation solutions reduce time to market, cost of product design,
  and risks of product failure.
tags:
- electromangetic simulation
- computational fluid dynamics
- CAE
- fast simulation
- GPU simulation
- ASIC simulation
- hardware accelerated computing
- Flexcompute
author: Flexcompute
custom_font: font2
show_schema: true
hide_json_ld: true
hide_extra_static_file: true
hero_section:
  enable: true
  title: Accelerate Innovation with Advanced Computing
  sub_title: Groundbreaking simulation technology built from the ground up.
  big_image: "/assets/images/Stack.webp"
  big_image_png: "/assets/images/Stack.png"
  small_image: ''
  video_url: ''
  button_text: Talk to an Expert
  btn_click_id: '__pg_home_btn_contact'
  button_url: "/contact/"
  brands:
    enable: false
    title: TRUSTED BY TEAMS AT
    images:
    - img: "/assets/images/clients/Logos-bw/KittyHawk-logo.png"
      url: https://www.kittyhawk.aero/
      title: KittyHawk
      alt: KittyHawk
    - img: "/assets/images/clients/Logos-bw/AyarLabs-logo.png"
      url: "#"
      title: AyarLabs
      alt: AyarLabs
    - img: "/assets/images/clients/Logos-bw/Electra-logo.png"
      url: https://www.electra.aero/
      title: Electra Aero
      alt: Electra Aero
    - img: "/assets/images/clients/Logos-bw/PsiQuantum-logo.png"
      url: https://psiquantum.com/
      title: PsiQuantum
      alt: PsiQuantum
clients_carousel:
  enable: true
  title: Trusted by
  sub_title:
featured_section:
  enable: false
  title: What We Do
  sub_title: 'We do simulations that enable <br class="d-none d-lg-block">what was
    previously impossible to be possible.

    '
  lists:
  - title: See the Simulation Progress in Real Time
    icon: "/assets/images/logo-small.png"
    description: Seeking a paradigm shift, we started with a blank canvas and asked
      "What is theoretically possible" We develop simulation technology from scratch.
      The breakthrough enables what was previously impossible to be possible.
    image: "/assets/images/featured-1.png"
  - title: 'Flow360: Ultra-Fast CFD without Compromise'
    icon: "/assets/images/Flow360-logo.svg"
    description: No more weighting trade-offs between fidelity, cost, and turnaround
      time. Simulate the entire airplane. No more risks of program delay.
    videoId: 689102101
    button_text: Learn More
    button_url: "/flow360/"
  - title: 'Tidy3D: effortless FDTD at scale'
    icon: "/assets/images/Tidy3D-logo.svg"
    description: No more weighting trade-offs between fidelity, cost, and turnaround
      time. Simulate the entire airplane. No more risks of program delay.
    image: "/assets/images/big-electro.png"
    button_text: Learn More
    button_url: "/tidy3d/"
testimonials:
  enable: false
  title: Used by the world’s most innovative teams
  link: javascript:void(0)
  link_text: Read all customer stories
  feedback:
  - quote: 'These speed improvement effectively open the range of aircraft design
      that can practically trackle with CFD

      '
    image: "/assets/images/clients/KittyHawk-logo.png"
    name: Emily Smith
    designation: Head of Customer Care
  - quote: 'Incredible speed enables us to address long-standing problems and resolve
      the fundamental issue that have been debated for several decades

      '
    image: "/assets/images/clients/yale-logo.png"
    name: Hui Cao
    designation: Professor of Physics, National Academy of Science
  - quote: 'Flow360 provides an order of magnitude faster solution speeds and lower
      costs than our previous CFD solution, with no loss of accuracy. This enables
      an increased volume of simulation, which gives a deeper understanding of the
      aircraft

      '
    image: "/assets/images/clients/Electraaero-logo.png"
    name: Hui Cao
    designation: Professor of Physics, National Academy of Science
  - quote: 'Flow360 demonstrates remarkably high efficiency and is around 50-120 times
      faster than usual CFD solvers on the market!

      '
    image: "/assets/images/clients/Birhle-logo.png"
    name: Wei Liao
    designation: Lead aerodynamicist, Bihrle
simulation:
  enable: false
  title: Are you ready for a leap in simulation capabilities?
  icon: "/assets/images/logo.svg"
  description: Flexcompute simulations will enable you to do things you never thought
    were feasible. If you want to be on the cutting edge of your industry, take the
    first steps today!
  started_text: Get started for free
  started_link: javascript:void(0)
  expert_text: Talk to an expert
  expert_link: javascript:void(0)

---
<div class="content-wrapper">
    {% include header.html extra_class="absolute transparent" logo_class="logo fc-logo" container_class="container" %}
    <div class="wrapper bg-opacity-default home-page-hero-section">
        <div class="rev_slider_wrapper fullwidth-container dark-spinner">
            <div id="slider6" class="rev_slider fullwidthbanner light-gallery-wrapper" data-version="5.4.7">
                <ul>
                    <li data-transition="fade" data-thumb="">
                        {% if page.hero_section.title %}
                        <h1
                            class="tp-caption font-weight-bold color-dark font-strong"
                            data-x="['left','left','center','center']"
                            data-y="middle"
                            data-hoffset="['50','100','0','0']"
                            data-voffset="['-130','-110','-260','-190']"
                            data-fontsize="['45','45','35','35']"
                            data-lineheight="['54','49','39','39']"
                            data-width="['620','450','650','340']"
                            data-textAlign="['left','left','center','center']"
                            data-whitespace="['normal','normal','normal','normal']"
                            data-frames='[{"delay":100,"speed":1200,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                            data-responsive="on"
                            data-responsive_offset="on"
                            style="z-index: 9;"
                        >
                            {{page.hero_section.title}}
                        </h1>
                        <!-- /.tp-caption -->
                        {% endif %}
                        {% if page.hero_section.sub_title %}
                        <div
                            class="tp-caption font-weight-400 color-dark-gray-2"
                            data-x="['left','left','center','center']"
                            data-y="middle"
                            data-hoffset="['50','100','0','0']"
                            data-voffset="['-15','20','-180','-50']"
                            data-fontsize="['19','19','22','20']"
                            data-lineheight="['29','29','32','30']"
                            data-width="['380','350','650','340']"
                            data-textAlign="['left','left','center','center']"
                            data-whitespace="['normal','normal','normal','normal']"
                            data-frames='[{"delay":200,"speed":1200,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                            data-responsive="on"
                            data-responsive_offset="on"
                            style="z-index: 9;"
                        >
                            {{page.hero_section.sub_title}}
                        </div>
                        <!-- /.tp-caption -->
                        {% endif %}
                        {% if page.hero_section.button_url %}
                        <a class="tp-caption"
                           data-x="['left','left','center','center']"
                           data-y="middle"
                           data-hoffset="['50','100','0','0']"
                           data-voffset="['45','90','-120','20']"
                           data-width="['auto','auto','auto','auto']"
                           data-textAlign="['left','left','center','center']"
                           data-frames='[{"delay":300,"speed":1200,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                           data-responsive="on"
                           data-responsive_offset="on"
                           style="z-index: 9;"
                           id="{{page.hero_section.btn_click_id}}"
                           href="{{page.hero_section.button_url}}"
                        >
                            <span style="width: 180px;" class="btn btn-s btn-sm btn-fc-primary mr-0">{{page.hero_section.button_text}}</span>
                        </a>
                        <!-- /.tp-caption -->
                        {% endif %}
                        {% if page.hero_section.brands.enable %}
                        <div
                            class="tp-caption"
                            data-x="['left','left','center','center']"
                            data-y="middle"
                            data-hoffset="['50','30','0','0']"
                            data-voffset="['180','200','10','110']"
                            data-width="['700','600','650','340']"
                            data-textAlign="['left','left','center','center']"
                            data-whitespace="['normal','normal','normal','normal']"
                            data-frames='[{"delay":100,"speed":1200,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                            data-responsive="on"
                            data-responsive_offset="on"
                            style="z-index: 9;"
                        >
                            <span class="color-dark-gray-2 font-size-12" style="letter-spacing: 0.84px;">{{ page.hero_section.brands.title }}</span>
                            <div class="space10"></div>
                            <div class="row align-items-center">
                                {% for image in page.hero_section.brands.images %}
                                <div class="col-md-3 col-6 mb-0">
                                    <img class="fc-logo tp-caption-img" src="{{image.img}}" alt="{{image.img}}" title="{{image.title}}" />
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}
                        {% if page.hero_section.big_image %}
                        <div
                            class="tp-caption"
                            data-x="['right','right','center','center']"
                            data-y="middle"
                            data-hoffset="['-25','-30','0','0']"
                            data-voffset="['-40','-10','130','200']"
                            data-frames='[{"delay":500,"speed":1200,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                            data-visibility="['on','on','on','on']"
                            data-width="none"
                            data-height="none"
                            data-type="image"
                            data-responsive_offset="on"
                            style="z-index: 5;"
                        >
                          <picture>
                            <source type="image/webp" srcset="{{page.hero_section.big_image}}">
                            <img loading="eager" src="{{page.hero_section.big_image}}" data-ww="['600', '505','505','404']" data-hh="['528', '444','444','333']" alt="{{page.hero_section.title}}" />
                          </picture>
                        </div>
                        <!-- /.tp-caption -->
                        {% endif %}
                    </li>
                </ul>
            </div>
            <!-- /.rev_slider -->
        </div>
        <!-- /.rev_slider_wrapper -->
    </div>

    {% if page.featured_section.enable %}
    <div class="wrapper bg-opacity-default">
        <div class="container">
            <div class="two-columns-one">
                {% for list in page.featured_section.lists %}
                <div class="row align-items-center justify-content-between">
                    <div class="col-lg-4">
                        <div class="pl-15 pl-md-0 pl-sm-0 pr-35 pr-md-0 pr-sm-0 h-100">
                            {% if list.icon %}
                            <img class="fc-featured-section-icon featured-logo" src="{{list.icon}}" alt="{{list.title}}">
                            <div class="space25"></div>
                            {% endif %}
                            {% if list.title %}
                            <h3 class="font-weight-bold color-dark font-size-30">{{list.title}}</h3>
                            <div class="space10"></div>
                            {% endif %}
                            {% if list.description %}
                            <p class="color-dark-gray-2 p-description">{{list.description}}</p>
                            {% endif %}
                            {% if list.lists %}
                            <ul class="icon-list bullet-default">
                                {% for sm_list in list.content.lists %}
                                <li><i class="jam jam-arrow-right"></i>{{sm_list}}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                            {% if list.button_text %}
                            <div class="space10"></div>
                            <a href="{{list.button_url}}" class="btn btn-s btn-sm btn-fc-primary">{{list.button_text}}</a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="space50 d-none d-md-block d-lg-none"></div>
                    {% if list.image %}
                    <div class="col-lg-8">
                        <div class="pr-0 pl-0 pt-0 pb-0 h-100 box bg-white shadow">
                            <figure >
                                <img style="border-radius: 15px;" importance="low" src="{{list.image}}" alt="{{list.title}}" />
                            </figure>
                        </div>
                    </div>
                    {% endif %}
                    {% if list.videoId %}
                    <div class="col-lg-8">
                        <div class="play-wrapper text-center">
                            <div class="player" data-plyr-provider="vimeo" data-plyr-embed-id="{{ list.videoId }}"></div>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div class="space100"></div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}

    {% if page.testimonials.enable %}
    <div class="wrapper bg-opacity-default testimonials">
        <div class="container">
            <hr class="reset-hr">
            <div class="space80"></div>
            <div class="text-center text-md-left">
                <h3 class="font-weight-bold color-dark h3-selection-title h3-selection-title-width">{{ page.testimonials.title }}</h3>
                {% if page.testimonials.link %}
                <div class="space10"></div>
                <a href="{{page.testimonials.link}}" class="btn btn-s font-size-16 btn-dashed-primary" style="height: 47px;">
                    {{page.testimonials.link_text}}
                    <i class="jam jam-arrow-right font-size-16 font-weight-bold align-middle"></i>
                </a>
                {% endif %}
            </div>
            <div class="space50"></div>
            <div class="grid-view">
                <div
                    class="carousel owl-carousel gap-small row justify-content-center ml-0 mr-0"
                    data-margin="0"
                    data-dots="true"
                    data-autoplay="true"
                    data-autoplay-timeout="3000"
                    data-responsive='{"0":{"items": "1"}, "768":{"items": "1"}, "992":{"items": "1"}, "1140":{"items": "1"}}'
                >
                    {% for feedback in page.testimonials.feedback %}
                    <div class="item col-md-12 col-lg-7 mx-auto" style="min-height: 370px;">
                        <div class="item-inner" style="height: 100%;">
                            <div class="box bg-white shadow pl-60 pr-60 pt-50 pb-50" style="height: 100%;">
                                <blockquote class="mb-0">
                                    {% if feedback.image %}
                                    <img class="fc-testimonial-icon" src="{{feedback.image}}" alt="{{feedback.name}}"/>
                                    <div class="space30"></div>
                                    {% endif %}
                                    <p class="color-dark mb-0 testimonials-p">"{{feedback.quote}}"</p>
                                    <div class="space30"></div>
                                    <div class="blockquote-details mb-0">
                                        <div class="info font-size-14">
                                            <h6 class="mb-0 font-size-14">{{feedback.name}}</h6>
                                            <span class="mb-0 font-size-14">{{feedback.designation}}</span>
                                        </div>
                                    </div>
                                </blockquote>
                            </div>
                            <!-- /.box -->
                        </div>
                        <!-- /.item-inner -->
                    </div>
                    <!-- /.item -->
                    {% endfor %}
                </div>
                <!-- /.owl-carousel -->
            </div>
        </div>
    </div>
    {% endif %}

    <div class="wrapper bg-opacity-default">
        <div class="container">
            {% if page.simulation.enable %}
            <div class="flex-column justify-content-center align-items-center box shadow pr-lg-80 pt-50 pb-40 mb-20">
                <div class="row">
                    {% if page.simulation.icon %}
                    <div class="col-lg-2 text-lg-right pr-lg-30">
                        <img class="fc-featured-section-icon" style="width: 66px;" src="{{ page.simulation.icon }}" alt="">
                    </div>
                    {% endif %}
                    <div class="col-lg-9 pl-0 pr-lg-50">
                        {% if page.simulation.title %}
                        <h3 class="font-size-30 font-weight-bold color-dark mb-10">{{ page.simulation.title }}</h3>
                        {% endif %}
                        {% if page.simulation.description %}
                        <p class="color-dark-gray-2 font-size-18 mb-0">{{ page.simulation.description }}</p>
                        {% endif %}
                    </div>
                </div>
                <div class="space20"></div>
                <div class="d-flex justify-content-end ext-btn flex-column flex-md-row">
                    {% if page.simulation.started_text %}
                    <a href="{{page.simulation.started_link}}" class="start-btn mr-10 mb-0 btn btn-s btn-sm btn-fc-primary btn-width-182">
                        {{page.simulation.started_text}}
                    </a>
                    {% endif %}
                    <div class="space20 d-block d-md-none"></div>
                    {% if page.simulation.expert_text %}
                    <a href="{{page.simulation.expert_link}}" class="font-weight-500 mr-10 mb-0 btn btn-s btn-sm btn-dashed-primary font-size-12 btn-width-182">
                        {{page.simulation.expert_text}}
                        <i class="jam jam-arrow-right font-size-12 font-weight-bold align-middle"></i>
                    </a>
                    {% endif %}
                </div>
            </div>
            {% endif %}
        </div>
    </div>

    {% include footer_2.html %}
</div>
