---
layout: blank-template
title: 'Tidy3D x iOptics Workshop Series'
description: "The Future-Ready FDTD Workshop Series is a collaborative grassroots effort, dedicated to elevating the photonics simulation skills of the next generation of innovators. Join us to listen, discuss, and innovate together."

custom_font: font2
custom_css:
  - seminar
hide_cookie_consent: true
noindex: true

redirect_from:
  - /tidy3d/seminar/

fdtd_skill_section:
  enabled: true
  title: Future-Ready FDTD Skills
  title_des: "<span class='seminar-color-primary'>Tidy3D</span> + <span class='seminar-color-orange'>iOptics</span> + <span>OPTICA</span> <i class='seminar-color-gray-2'>present</i>"
  description: "A Virtual Workshop Series for All Levels <br class='d-none d-md-block' /> Starts <span class='color-primary'>February 9th</span>"
  skill:
    enabled: true
    title: What you will learn
    list:
      - text: FDTD Fundamentals
      - text: Bragg filters and reflectors
      - text: Multimode photonic design
      - text: Photonic crystal slabs and cavity
      - text: Inverse Design


intro_section:
  enabled: true
  text_1: "<span class='color-primary font-weight-500'>3 Ways to Learn,</span> 1 Registration Form"
  text_2: "<span class='color-primary font-weight-500'>All Levels of Experience</span> are Welcome."
  text_3: "<span class='color-primary font-weight-500'>All Levels of Learning</span> are Rewarded."
  sponsor:
    enable: true
    text: 'Official Sponsor'
    image: "/assets/images/seminar/optica.png"
  register_btn:
    text: Register for Free
    target: "_blank"
    link: "https://share.hsforms.com/10I2Uj0t0TMS35YTVyyNSGwpx9op"
  ways:
    - title: "Single Workshop Engagement: "
      des: "Attend any one of our sessions to earn <strong>10 FlexCredits</strong>, ideal for practicing the exercises taught and enhancing your photonics skills."
    - title: "Full Series Commitment: "
      des: "Join all five workshops to accumulate a total of 50 FlexCredits, and as a testament to your commitment, receive a <strong>Certificate of Achievement.</strong>"
    - title: "Next-Level Achievement: "
      des: "Demonstrate your dedication by completing all five exercises throughout the series and be rewarded with an additional <strong>100 FlexCredits,</strong> our investment into your future innovations in photonics."


seminar_section:
  enabled: true
  title: "Be <i>Future-Ready</i> in <span class='color-primary'>Five Sessions.</span>"
  list:
    - speaker:
        name: "Dr. Weiliang Jin"
        position: "Sr. Research Scientist"
        degree: "Ph.D. Princeton, Post-Doc Stanford"
        avatar: "/assets/images/seminar/weiliang.png"
      date: "9 February"
      agenda: "Friday • 1pm-2pm CST"
      title: "The FDTD Method <span class='seminar-color-gray-1'>Demystified</span>"
      abstract: "The finite-difference time-domain (FDTD) method is a powerful full-wave simulation tool in solving Maxwell’s equations. It is widely used in modeling the behavior of light in nanophotonic devices. In this section, we introduce the fundamental concepts behind FDTD, and how to use it to simulate a wide range of phenomena in photonics. As an example, we show how to compute the scattering cross-section of a dielectric sphere and benchmark it against Mie Theory."
      thumbnail: "/assets/images/seminar/thumbnail/session-1.png"
    - speaker:
        name: "Dr. Lucas Gabrielli"
        position: "Sr. Photonics Engineer"
        degree: "Ph.D. Cornell"
        avatar: "/assets/images/seminar/lucas.png"
      date: "16 February"
      agenda: "Friday • 1pm-2pm CST"
      title: "Multimode Photonics Design <span class='seminar-color-gray-1'>Made Easy</span>"
      abstract: "Designing multimode devices can be a complex task. In this session we present the tools available in Tidy3D that facilitate this process and enable precise control over mode excitation, decomposition and tracking in dielectric waveguides. We show, in a real device, the importance of modal decomposition analysis when designing multimode photonics."
      thumbnail: "/assets/images/seminar/thumbnail/session-2.jpg"
    - speaker:
        name: "Dr. Tom Chen"
        position: "Sr. Photonics Engineer"
        degree: "Ph.D. Stony Brook"
        avatar: "/assets/images/seminar/xinzhong.png"
      date: "23 February"
      agenda: "Friday • 1pm-2pm CST"
      title: "Designing Filters and Reflectors"
      sub_title: "with Bragg Gratings"
      abstract: "Bragg gratings are periodic structures used in various optical systems. The periodicity allows Bragg gratings to reflect specific wavelengths of light while transmitting others. The key principle behind their operation is the Bragg’s condition. In this section, we will introduce the Bragg condition and use Tidy3D to model a distributed Bragg reflector and cavity. Then we will apply the same principle to integrated photonics and demonstrate the design of silicon waveguide Bragg gratings."
      thumbnail: "/assets/images/seminar/thumbnail/session-3.png"
    - speaker:
        name: "Dr. Momchil Minkov"
        position: "Director of Tidy3D"
        degree: "Ph.D. EPFL, Post-Doc Stanford"
        avatar: "/assets/images/seminar/momchil.png"
      date: "1 March"
      agenda: "Friday • 1pm-2pm CST"
      title: "Photonic Crystal Slabs"
      sub_title: "Controlling and Confining Light on the Nanoscale"
      abstract: "In this session we review the theory behind photonic crystal (PhC) slabs and some of the possible applications. As a practical Tidy3D example, we show how to compute the photonic band structure of a PhC slab, and how to simulate an ultra-high-Q, small-volume PhC defect cavity that is also optimized for efficient vertical light extraction."
      thumbnail: "/assets/images/seminar/thumbnail/session-4.png"
    - speaker:
        name: "Dr. Tyler Hughes"
        position: "Sr. Research Scientist"
        degree: "Ph.D. Stanford"
        avatar: "/assets/images/seminar/tyler.png"
      date: "8 March"
      agenda: "Friday • 1pm-2pm CST"
      title: "Inverse Design in Photonics"
      sub_title: "An Introduction"
      abstract: "“Inverse design” is a technique used for the automated design photonic devices. The process involves mathematically defining a “figure of merit” for one’s device and then using gradient based optimization to efficiently maximize this function with respect to a large number of design parameters. In this section, we introduce the basics of inverse design, discuss its connections to other techniques in deep learning, and give practical examples of how it is used to design photonic devices in Tidy3D."
      thumbnail: "/assets/images/seminar/thumbnail/session-5.png"

product_section:
  enabled: true
  list:
    - logo: "/assets/images/product/tidy3D/tidy3d-logo.svg"
      alt: "Educational Programs"
      desc: "<strong>Tidy3D's Educational Programs</strong> bolster scientific education by equipping the next wave of researchers and engineers with free, high-performance cloud computing for FDTD simulations."
      extra: "Ideal for STEM fields, our program enriches academia with comprehensive resources, free licenses, and monthly credits, facilitating rapid, large-scale simulations and innovative learning."
      btn:
        text: Learn More
        target: _self
        link: 'https://www.flexcompute.com/tidy3d/educational-licenses/'
    - title: "iOptics"
      class: 'ioptics-box'
      desc: "<strong>iOptics at Illinois</strong> is a dynamic student community at the University of Illinois Urbana-Champaign, uniting members from IEEE Photonics, Optica, and SPIE student chapters. They help demystify optics and photonics by organizing seminars led by experts and conducting outreach events."
      extra: "Regularly hosting events complemented by free meals and an extensive archive of talks, iOptics provides a nurturing platform for students to connect with industry pioneers, fostering a rich environment for knowledge exchange and professional relationship building."
      btn:
        text: Learn More
        link: 'https://iopticsuiuc.web.illinois.edu/'
        target: "_blank"

about_section:
  enabled: true
  title: About
  desc: "The Future-Ready FDTD Workshop Series is a collaborative grassroots effort, dedicated to elevating the photonics simulation skills of the next generation of innovators."
  extra_1: "<strong>Tidy3D</strong> has joined forces with the <strong>iOptics</strong> student organization at the University of Illinois Urbana-Champaign to present a series of workshops focused on FDTD simulations for photonic devices."
  extra_2: "This collaboration is tailored to inspire and empower the most inquisitive and driven individuals in the field—<span class='seminar-color-primary font-weight-700'>students</span>, <span class='seminar-color-primary font-weight-700'>researchers</span>, and <span class='seminar-color-primary font-weight-700'>engineers</span>—with Tidy3D's cutting-edge simulation capabilities."

---
<mian class="wrapper bg-opacity-default ">
  <div class="container pt-30 pb-30">
    {% if page.fdtd_skill_section.enabled %}
    {% assign fdtd_skill_section = page.fdtd_skill_section %}
    <section class="section-box section-bg-img">
      {%if fdtd_skill_section.title_des %}
      <span class="seminar-color-gray font-size-22 font-weight-600">{{fdtd_skill_section.title_des}}</span>
      {% endif %}
      <div class="row align-items-end">
        <div class="col-12 col-lg-7">
          <div class="mb-85">
            {% if fdtd_skill_section.title %}
            <h1 class="seminar-color-primary font-size-42 font-weight-700 line-height-50 font-poppins mb-0">{{fdtd_skill_section.title}}</h1>
            {% endif %}
          </div>
          <p class="font-size-20 seminar-color-gray-1 mb-0">{{fdtd_skill_section.description}}</p>
        </div>
        {% if fdtd_skill_section.skill.enabled %}
        <div class="col-12 offset-lg-1 col-lg-4">
          <p class="color-primary mb-5 font-size-22 font-weight-500">{{fdtd_skill_section.skill.title}}</p>
          {% for item in fdtd_skill_section.skill.list %}
          <div class="d-flex justify-content-start align-items-start font-size-18" style="column-gap: 8px">
            <span class="icofont-check-alt color-dark font-size-18 line-height-20"></span>
            <p class="seminar-color-gray mb-5">{{item.text}}</p>
          </div>
          {% endfor %}
        </div>
        {% endif %}
      </div>
    </section>
    {% endif %}

    {% if page.intro_section.enabled %}
    <div class="space30"></div>
    {% assign intro_section = page.intro_section %}
    <section class="section-box section-bg-img">
      <div class="d-flex align-items-center intro-section flex-wrap" style="row-gap: 16px">
        <div class="text-center register">
          <p class="font-size-16 seminar-color-gray mb-0">{{intro_section.text_1}}</p>
          <div class="space30"></div>
          <a href="{{intro_section.register_btn.link}}" target="{{intro_section.register_btn.target}}" class="btn btn-primary font-size-25 m-0 register-btn">
            {{intro_section.register_btn.text}}
          </a>
          <div class="space20"></div>
          <p class="font-size-16 seminar-color-gray font-weight-500 mb-10">{{intro_section.text_2}}</p>
          <p class="font-size-16 seminar-color-gray font-weight-500 mb-0">{{intro_section.text_3}}</p>
          {% if intro_section.sponsor.enable%}
          <div class="space20"></div>
          <div>
            <img height="40" src="{{intro_section.sponsor.image}}" alt="{{intro_section.sponsor.text}}">
            <p class="seminar-color-gray-2 font-italic line-height-18 font-weight-600 mb-0">{{intro_section.sponsor.text}}</p>
          </div>
          {% endif %}
        </div>
        <div class="ways">
          {% for way in intro_section.ways %}
          <p class="font-size-18 seminar-color-gray {%if forloop.last%}mb-0{%endif%}"><span class="seminar-color-primary">{{forloop.index}} - <strong>{{way.title}}</strong></span>{{way.des}}</p>
          {% endfor %}
        </div>
      </div>
    </section>
    {% endif %}

    {% if page.seminar_section.enabled %}
    <div class="space30"></div>
    {% assign seminar_section = page.seminar_section %}
    <section>
      <h2 class="seminar-color-gray font-size-34 text-center">{{seminar_section.title}}</h2>
      {% for session in seminar_section.list %}
      <div class="section-box d-flex align-items-center seminar-section flex-wrap mb-10 position-relative" style="row-gap: 16px">
        <div class="speaker d-flex flex-column justify-content-center">
          <figure class="img-blob speaker-avatar mb-10" style="overflow: hidden;">
            <img width="177" height="177" class="aspect-ratio" src="{{ session.speaker.avatar }}" style="width: 8.9rem" alt="{{ session.speaker.name }}">
          </figure>
          <div class="desc">
            <h4 class="mb-0 font-size-19 color-dark-light">{{session.speaker.name}}</h4>
            <p class="mb-0 font-size-13 seminar-color-gray font-weight-500" style="line-height: 20px;">{{session.speaker.position}}</p>
            <p class="mb-0 font-size-13 seminar-color-gray font-weight-500" style="line-height: 20px;">{{session.speaker.degree}}</p>
          </div>
        </div>
        <div class="session" style="flex: 1">
          <div class="schedule d-flex align-items-center justify-content-center justify-content-lg-start">
            <span class="session-index">Session {{forloop.index}}</span>
            <div class="line-height-1 d-inline-block">
              <p class="date mb-0">{{session.date}}</p>
              <span class="agenda">{{session.agenda}}</span>
            </div>
          </div>
          {% if session.thumbnail %}
          <div class="seminar-thumbnail p-5 position-absolute" style="width: fit-content; top: 12px; right: 24px">
            <img width="181" height="99px" style="object-fit: contain" src="{{ session.thumbnail }}" alt="{{session.title}}">
          </div>
          {% endif %}
          <div class="space20"></div>
          <div class="content">
            <div class="title mb-10">
              <h3 class="font-size-25 line-height-40 seminar-color-primary mb-0">{{session.title}}</h3>
              {% if session.sub_title %}
              <span class="d-inline-block font-size-24 line-height-26 seminar-color-gray-1 font-weight-600 mb-0">{{session.sub_title}}</span>
              {% endif %}
            </div>
            <p class="mb-0 seminar-color-gray line-height-28">{{session.abstract}}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </section>
    {% endif %}

    {% if page.product_section.enabled %}
    <div class="space30"></div>
    {% assign product_section = page.product_section %}
    <section>
      <div class="row" style="row-gap: 32px">
        {% for item in product_section.list %}
        <div class="col-12 col-lg-6">
          <div class="section-box position-relative pt-35 {%if item.class%}{{item.class}}{%else%}section-bg-img{%endif%}" style="min-height: 520px;">
            <div class="logo-title d-flex justify-content-center align-items-end flex-wrap" style="column-gap: 16px">
              {% if item.logo %}
              <object type="image/svg+xml" data="{{item.logo}}" title="{{item.alt}}" style="height: 90px">
                <param name="src" value="{{item.logo}}">
              </object>
              <h3 class="font-poppins font-size-25 line-height-1 seminar-color-primary" style="width: 200px;">{{item.alt}}</h3>
              {% endif %}
              {% if item.title %}
              <h3 class="seminar-color-primary mb-0">{{item.title}}</h3>
              {% endif %}
            </div>
            <div class="space30"></div>
            <div class="text-center product-text">
              <p class="font-size-18 line-height-26 seminar-color-gray">{{item.desc}}</p>
              <p class="font-italic font-size-14 seminar-color-gray mb-0">{{item.extra}}</p>
            </div>
            {% if item.btn %}
            <div class="text-center position-absolute product-more-btn" style="bottom: 24px; width: calc(100% - 48px)">
              <a href="{{item.btn.link}}" target="{{item.btn.target}}" class="btn btn-dashed-primary font-size-16 m-0 remove-background-color" style="padding-top: 16px">
                {{item.btn.text}}
              </a>
            </div>
            {%endif%}
          </div>
        </div>
        {% endfor %}
      </div>
    </section>
    {% endif %}

    {% if page.about_section.enabled %}
    <div class="space30"></div>
    {% assign about_section = page.about_section %}
    <section class="section-box section-bg-img">
      <div class="row">
        <div class="col-12 col-lg-5 text-right about-text">
          <h2 class="seminar-color-primary font-size-34">{{about_section.title}}</h2>
          <p class="font-size-18 seminar-color-gray line-height-26 font-italic pl-20">{{about_section.desc}}</p>
        </div>
        <div class="col-12 col-lg-7 about-text">
          <p class="seminar-color-gray line-height-28">{{about_section.extra_1}}</p>
          <p class="seminar-color-gray line-height-28 mb-0">{{about_section.extra_2}}</p>
        </div>
      </div>
    </section>
    {% endif %}
  </div>
</mian>

<footer>
  <div class="container inner pt-20 pb-20 d-flex align-items-center justify-content-between">
    <ul class="social social-mute social-s">
      {% for link in site.data.general_settings.footer_links %}
      {% if link.url %}
      <li>
        <a id="{{link.id}}" class="color-dark" href="{{link.url}}">
          <span class="mb-0 mr-auto" style="font-size: 14px;">{{ link.text }}</span></a></li>
      {% else %}
      <li><span class="mb-0 mr-auto" style="font-size: 14px;">{{ link.text }}</span></li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>
</footer>
