---
layout: blank-template
title: 'Python-Driven FDTD Software: Tidy3D - Flexcompute'
description: "Tidy3D is a hardware accelerated FDTD simulation service. It is 50 times faster and can simulate 100 times larger problem than other FDTD software."

custom_font: font2
hide_cookie_consent: true
noindex: true
image:
  path: "/assets/images/product/tidy3D/electromagnetic-field-xl.png"
  alt: "Python-Driven FDTD Software: Tidy3D - Flexcompute"
header_section:
  enable: true
  tidy3d_logo: "/assets/images/Tidy3D-logo-dark.svg"
  tidy3d_logo_alt: "FDTD for Electromagnetic Simulation"
  title: "10-100x Faster<br>100-1000x Larger"
  desc: "Electromagnetic Simulation"
  sign_up_btn:
    enable: true
    text: "Sign Up for Free Trial"
    click_id: "__pg_tidy3d-landing-page_sign_up_for_free_trial_btn"
    target: "_blank"
  video: 'https://player.vimeo.com/video/840514226?app_id=122963&amp;background=1&amp;autoplay=1&amp;loop=1'
  video_title: "Tidy3D GUI Demo"
  video_loading: 'eager'
  iframe_id: '__pg_tidy3d-landing-page_840514226_video'
customer:
  enable: false
  desc: "Trusted by engineers and researches worldwide"
  logos:
    - logo: "/assets/images/clients/minified/ayarlabs.png"
      enable: true
      alt: "Ayar Labs"
      width: 140
    - logo: "/assets/images/clients/minified/lumotive.png"
      enable: true
      alt: "Lumotive"
      width: 220
    - logo: "/assets/images/clients/minified/memq.png"
      enable: true
      alt: "memQ"
      width: 170
    - logo: "/assets/images/clients/minified/fonex.png"
      enable: true
      alt: "FONEX"
      width: 200
university:
  enable: true
  desc: "Researchers around the world are using Tidy3D"
  logos:
    - logo: "/assets/images/university/minified/texas.png"
      alt: "texas"
      enable: true
      width: 110
    - logo: "/assets/images/university/minified/johnshopkins.png"
      alt: "johnshopkins"
      enable: true
      width: 120
    - logo: "/assets/images/university/minified/wisconsin.png"
      alt: "wisconsin"
      enable: true
      width: 100
    - logo: "/assets/images/university/minified/kaust.png"
      alt: "kaust"
      enable: true
      width: 110
    - logo: "/assets/images/university/minified/cuhk.png"
      alt: "cuhk"
      enable: true
      width: 180
    - logo: "/assets/images/university/minified/chicago.png"
      alt: "chicago"
      enable: true
      width: 120
featured_section:
  enable: true
  btn_info:
    enable: true
    target: "_blank"
    text: "Experience the Next Generation of FDTD"
    click_id: '__pg_tidy3d-landing-page_experience-the-next-generation-of-fdtd_btn'
  list:
    - title: "Faster and larger simulations"
      enable: true
      desc: "Run large 3D simulations in minutes"
      desc_width: "290px"
      image: "/assets/images/product/tidy3D/minified/electromagnetic-field-xl.png"
      image_box_class: 'position-image-box'
    - title: "Accurate results"
      enable: true
      desc: "Rigorous full-wave simulations in 3D without approximations"
      desc_width: "290px"
      image: "/assets/images/product/tidy3D/minified/accurate-results.png"
      image_float: "left"
    - title: "Skip the hardware cost"
      enable: true
      desc: "Scaling and economies-of-scale benefits of running in the cloud"
      desc_width: "390px"
      image: "/assets/images/product/tidy3D/minified/skip-the-hardware-cost.png"
customer_saying_section:
  enable: true
  title: "What Customers Are Saying"
  list:
    - saying: "Tidy3D has been an amazing tool for Lumotive. Saving months of time in simulations is crucial for the decisions we are making as a company. We are using the results from Tidy3D for our next-generation metasurface!"
      name: "Dr. Laura Pulido-Mancera"
      company: "Lumotive"
      dept: "Sr. Research and Development Engineer"
      logo: "/assets/images/clients/minified/lumotive.png"
      headshot: "/assets/images/product/tidy3D/customer-headshot/minified/Laura.png"
      enable: true
    - saying: "At Ayar Labs, we design and sell in-package optical I/O. Flexcompute revolutionizes the way we do simulation. Simulations that would have otherwise taken hours and days now take just seconds to minutes."
      name: "Neil Sapra"
      company: "Ayar Labs"
      dept: "Photonic Design Engineer "
      logo: "/assets/images/clients/minified/ayarlabs.png"
      headshot: "/assets/images/product/tidy3D/customer-headshot/minified/Neil-Sapra.png"
      enable: true
      image_float: "left"
    - saying: "Tidy3D is a user-friendly tool which speeds up our simulation process by orders of magnitude compared to a typical local computer. In addition, its support team is highly responsive and helpful."
      name: "Mohsen Rezaei"
      company: "FONEX"
      dept: "R&D Engineer"
      logo: "/assets/images/clients/minified/fonex.png"
      headshot: "/assets/images/product/tidy3D/customer-headshot/minified/Mohsen-Rezaei.png"
      enable: true
feature_intro_section:
  enable: true
  title: "What's Included in Tidy3D Free Trial"
  btn_info:
    enable: true
    target: "_blank"
    text: "Access to All Software Features in Tidy3D"
    click_id: '__pg_tidy3d-landing-page_access-to-all-software-features-in-tidy3d_btn'
  image: /assets/images/product/tidy3D/minified/feature-intro-placeholder.png
resources:
  enable: true
  list:
    - title: "Plugins for:"
      enable: true
      links:
        - label: "Adjoint methods"
          enable: true
          href: 'javascript:void(0);'
          click_id: '__pg_tidy3d-landing-page_plugins-for_adjoint-methods_btn'
        - label: "Mode analysis"
          enable: true
          href: 'javascript:void(0);'
          click_id: '__pg_tidy3d-landing-page_plugins-for_mode-analysis_btn'
        - label: "Material property fitting"
          enable: true
          href: 'javascript:void(0);'
          click_id: '__pg_tidy3d-landing-page_plugins-for_material-property-fitting_btn'
    - title: "Choose Your Interface:"
      enable: true
      links:
        - label: "Scripting in Python"
          enable: true
          href: "javascript:void(0)"
          click_id: '__pg_tidy3d-landing-page_choose-your-interface_scripting-in-python_btn'
        - label: "Standard GUI"
          enable: true
          href: "javascript:void(0)"
          click_id: '__pg_tidy3d-landing-page_choose-your-interface_standard-gui_btn'
    - title: "Libraries for:"
      enable: true
      links:
        - label: "Commonly used materials"
          enable: true
          href: "javascript:void(0)"
          click_id: '__pg_tidy3d-landing-page_libraries-for_commonly-used-materials_btn'
        - label: "Photonic Integrated Circuit Components"
          enable: true
          href: "javascript:void(0)"
          click_id: '__pg_tidy3d-landing-page_libraries-for_photonic-integrated-circuit-components_btn'
    - title: "Learning Resources:"
      enable: true
      links:
        - label: "FDTD 101"
          enable: true
          href: "javascript:void(0)"
          click_id: "__pg_tidy3d-landing-page_learning-resources_fdtd101_btn"
        - label: "Tutorials"
          enable: true
          href: "javascript:void(0)"
          click_id: "__pg_tidy3d-landing-page_learning-resources_tutorials_btn"
        - label: "Case studies"
          enable: true
          href: "javascript:void(0)"
          click_id: "__pg_tidy3d-landing-page_learning-resources_case-studies_btn"
simple_sign_up:
  enable: true
  btn_info:
    enable: true
    text: 'Simple Sign-Up'
    target: '_blank'
    click_id: "__pg_tidy3d-landing-page_simple-sign-up_btn"
  desc: "* No Credit Card Needed *"
---
<mian class="wrapper bg-opacity-default">
  <div class="container pt-30 pb-30">
    <!-- banner section -->
    <section class="header-section">
      <div class="logo navbar-brand">
        <img loading="eager" src="{{site.data.general_settings.black_logo_1x}}" class="aspect-ratio logo-dark logo fc-logo"
             alt="{{site.data.general_settings.title}}"/>
      </div>
      <div class="space30"></div>
      <div class="row feature-content justify-content-between align-items-center">
        <div class="col-lg-5 col-12 left-desc">
          <div class="d-flex align-items-center justify-content-md-start justify-content-center text-left flex-md-row flex-column" style="column-gap: 20px">
            <object type="image/svg+xml" data="{{page.header_section.tidy3d_logo}}" style="display:block;width: 260px;">
              <param name="src" value="{{page.header_section.tidy3d_logo}}">
            </object>
            <p class="mb-0 font-size-14 color-dark-gray-8 text-md-left text-center" style="width: 150px">
              {{page.header_section.tidy3d_logo_alt}}
            </p>
          </div>
          <div>
            {% if page.header_section.title %}
            <div class="space100 space-100"></div>
            <h1 class="font-weight-bold color-dark font-size-50 mb-0">{{page.header_section.title}}</h1>
            {% endif %}
            {% if page.header_section.desc %}
            <p class="color-dark font-size-32 mb-0 pr-lg-50 p-0">{{page.header_section.desc}}</p>
            {% endif %}
            {% if page.header_section.sign_up_btn.enable %}
            {% assign sign_up_btn = page.header_section.sign_up_btn %}
            <div class="space50"></div>
            <a class="btn btn-rest-text-transform btn-radius-15 m-0" target="{{sign_up_btn.target}}" id="{{sign_up_btn.click_id}}" href="{{site.tidy3d.sign_up}}">{{sign_up_btn.text}}</a>
            {% endif %}
          </div>
        </div>
        <div class="col-lg-7 col-12 right-video" style="padding: 0">
          <div class="embed-container">
            <iframe {%if page.header_section.video_loading%} loading="{{page.header_section.video_loading}}" {% endif %} id="{{page.header_section.iframe_id}}" src="{{ page.header_section.video }}" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen="" style="width:100%; height:100%;" title="{{page.header_section.video_title}}"></iframe>
            <script src="https://player.vimeo.com/api/player.js"></script>
          </div>
        </div>
      </div>
    </section>
    <!-- customers section -->
    <div class="space50"></div>
    <section class="customers-section" style="background: #F5F5F5; padding: 50px 0px">
      {% include clients.html %}
      <!--<div class="position-absolute d-md-block d-none" style="overflow: hidden; width: 100%; height: 100%">
        <div class="circle-200 border-blue position-absolute" style="left: -77px; top: -63px"></div>
        <div class="circle-200 border-blue position-absolute" style="left: 140px; bottom: -120px"></div>
      </div>
      <div class="row align-items-center flex-wrap across-box background-blue">
        <div class="col-md-3">
          <h2 class="font-size-20 mb-0">{{page.customer.desc}}</h2>
        </div>
        <div class="col-md-9">
          {% if page.customer.enable %}
          <div class="row align-items-center justify-content-around flex-wrap">
            {% assign customer = page.customer %}
            {% for customer_logo in customer.logos%}
            {% if customer_logo.enable %}
            <div><img width="{{customer_logo.width}}" src="{{customer_logo.logo}}" alt="{{customer_logo.alt}}"></div>
            {% endif %}
            {%endfor%}
          </div>
          {% endif %}
          {% if page.university.enable %}
          <div class="row align-items-center justify-content-around flex-wrap">
            {% assign university = page.university %}
            {% for university_logo in university.logos%}
            {% if university_logo.enable %}
            <div><img width="{{university_logo.width}}" src="{{university_logo.logo}}" alt="{{university_logo.alt}}"></div>
            {% endif %}
            {%endfor%}
          </div>
          {% endif %}
        </div>
      </div>-->
    </section>

    <!-- featured section  -->
    {% if page.featured_section.enable %}
    <section class="featured-section">
      <div class="space50"></div>
        {% for featured in page.featured_section.list %}
        {% if featured.enable %}
        <div class="row align-items-center">
          <div class="col-lg-6 col-12 {% if featured.image_float == 'left' %} offset-lg-1 offset-lg-0 order-lg-2 order-1 {% endif %}">
            <h2 class="font-weight-bold color-dark font-size-50 mb-0">{{featured.title}}</h2>
            <div class="space20"></div>
            <p class="font-size-20 color-dark mb-0" style="max-width: {{featured.desc_width}}">{{featured.desc}}</p>
          </div>
          <div class="{{featured.image_box_class}} {% if featured.image_float == 'left' %} col-lg-5 col-12 order-lg-1 order-2 {% else %} col-lg-6 col-12 {% endif %}">
            <img class="aspect-ratio" src="{{featured.image}}" alt="{{featured.title}}">
          </div>
        </div>
        {% if forloop.last == false %}
        <div class="space50"></div>
        {% endif %}
        {% endif %}
        {% endfor %}
      {% if page.featured_section.btn_info.enable %}
      {% assign feature_btn_info = page.featured_section.btn_info %}
      <a class="btn m-0 white-space-break d-sm-inline d-block btn-radius-15 btn-rest-text-transform" id="{{feature_btn_info.click_id}}" target="{{feature_btn_info.target}}" href="{{site.tidy3d.sign_up}}">{{feature_btn_info.text}}</a>
      {% endif %}
    </section>
    {% endif %}

    <!-- customer saying -->
    {% if page.customer_saying_section.enable %}
    <section class="customer-saying-section">
      <div class="space100"></div>
      <h2 class="font-weight-bold color-dark font-size-50 mb-0" style="max-width: 500px">{{page.customer_saying_section.title}}</h2>
      {% for item in page.customer_saying_section.list %}
      {% if item.enable %}
      {% if forloop.index == 1 %}
      <div class="space20"></div>
      {% else %}
      <div class="space80"></div>
      {% endif %}
      <div class="row align-items-center">
        <div class="col-lg-5 col-12 d-flex justify-content-between flex-column {% if item.image_float == 'left' %} order-lg-2 order-1 offset-0 {% else %} offset-lg-1 offset-0 {% endif %}" style="height: 210px">
          <p class="mb-0 font-size-20">"{{item.saying}}"</p>
          <div>
            <span class="font-size-16 font-weight-700 color-dark d-block">{{item.name}}</span>
            <span class="font-size-14 color-dark-gray-8">{{item.dept}}</span>
          </div>
        </div>
        <div class="col-lg-6 col-12 position-relative custom-saying-item {% if item.image_float == 'left' %} order-lg-1 order-2 {% endif %}">
          {% assign image_style_float = "float: right" %}
          {% if item.image_float == 'left' %}
          {% assign image_style_float = "float: left" %}
          {% endif %}
          <img class="aspect-ratio" src="{{item.headshot}}" alt="{{item.name}}" style="{{image_style_float}}">
          <div class="position-absolute logo-box" {% if item.image_float == 'left' %} style="right: 0" {%else%} style="left: 0" {%endif%}>
            <img class="aspect-ratio" src="{{item.logo}}" alt="{{item.company}}">
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </section>
    {% endif %}

  <!--  feature_intro_section  -->
  {% if page.feature_intro_section.enable %}
  <section class="text-center position-relative feature-intro-section" style="z-index: 1; overflow: hidden">
    <div class="space100"></div>
    <h2 class="font-weight-bold color-dark font-size-50 mb-0" style="max-width: 700px; margin: 0 auto">{{page.feature_intro_section.title}}</h2>
    {% assign btn_info = page.feature_intro_section.btn_info %}
    {% if btn_info.enable %}
    <div class="space30"></div>
    <a class="btn white-space-break d-sm-inline d-block btn-radius-15 btn-rest-text-transform m-0" target="{{btn_info.target}}" id="{{btn_info.click_id}}" href="{{site.tidy3d.sign_up}}">{{btn_info.text}}</a>
    {% endif %}
    <div class="space60"></div>
    <div class="">
      <img class="aspect-ratio" src="{{page.feature_intro_section.image}}" alt="{{page.feature_intro_section.title}}" style="max-width: 700px">
    </div>
    <div class="space100"></div>
  </section>
  {% endif %}

  <!-- resource -->
  {% if page.resources.enable %}
  <section class="resources position-relative">
    <div class="row" style="row-gap: 20px">
    {% for item in page.resources.list %}
    {% if item.enable %}
    <div class="col-lg-6 col-12">
      <div class="p-30 background-blue" style="height: 260px; border-radius: 20px">
        <h2 class="font-weight-bold color-dark font-size-36 mb-0">{{item.title}}</h2>
        <div class="space30"></div>
        <div>
          {% for link in item.links %}
          <div class="item-link d-flex align-items-center mb-10" style="column-gap: 10px;">
            <span class="d-block font-size-16 line-height-18 font-weight-700 color-dark">{{link.label}}</span>
            <!--<div class="arrow-right-box">
              <i class="font-size-24 jam jam-arrow-right color-white"></i>
            </div>-->
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}
    </div>
  </section>
  {% endif %}

  <!-- simple sign up -->
  {% if page.simple_sign_up.enable %}
  <section class="text-center">
    <div class="space100"></div>
    {% assign simple_btn_info = page.simple_sign_up.btn_info %}
    <a class="btn btn-dark m-0 btn-radius-15 btn-rest-text-transform" id="{{simple_btn_info.click_id}}" target="{{simple_btn_info.target}}" href="{{site.tidy3d.sign_up}}">{{simple_btn_info.text}}</a>
    <div class="space20"></div>
    <p class="mb-0 font-weight-700 font-size-20">{{page.simple_sign_up.desc}}</p>
  </section>
  {% endif %}
  </div>
</mian>
<div class="space100"></div>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    const player = new Vimeo.Player('__pg_tidy3d-landing-page_840514226_video');
    player.play()
  })
</script>
