---
layout: default
title: "Tidy3D GUI Release | Flexcompute"
author: Flexcompute
custom_font: font2
description: "The Tidy3D web Graphical User Interface (GUI) release page records the evolution history of Tidy3D GUI. Stay informed about the latest enhancements, features, and  optimizations as we continuously refine and elevate your simulation experience."
tags:
  - tidy3d web gui
  - tidy3d gui
  - tidy3d graphical user interface
  - tidy3d release
custom_js:
  - release-notes
---
{% include header.html extra_class="absolute transparent" logo_class="logo fc-logo" container_class="container" %}
<div class="wrapper bg-opacity-default">
  <div class="container inner pt-100 pb-0">
    {% include release_notes/tidy3d/python_client.html %}
  </div>
</div>
{% include footer_2.html %}
