---
layout: default
author: Flexcompute
custom_font: font2
title: "Cloud Simulation Terms | Flexcompute"
description: "simulation.cloud: Cloud-based electrodynamics and fluid aerodynamics simulations."
redirect_from:
  - /term_of_use/
---
{% include header.html extra_class="absolute transparent" logo_class="logo fc-logo" container_class="container" %}
<div class="wrapper bg-opacity-default">
    <div class="container inner">
       {% include privacy/conditions.html %}
    </div>
</div>
{% include footer_2.html %}
