<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@graph": [
      {
        "@type": "Organization",
        "@id": "https://flexcompute.com/#organization",
        "name": "Flexcompute",
        "description": "Flexcompute provides simulation solutions which reduce time to market, cost of product design, and risks of product failure.",
        "url": "https://flexcompute.com",
        "sameAs": "https://www.linkedin.com/company/flexcompute-inc/",
        "logo": {
          "@type": "ImageObject",
          "inLanguage": "en",
          "@id": "https://flexcompute.com/#logo",
          "url": "https://www.flexcompute.com/assets/images/logo.png",
          "width": 969,
          "height": 125,
          "caption": "Flexcompute Logo"
        }
      },
      {
        "@type": "WebSite",
        "@id": "https://flexcompute.com/#website",
        "url": "https://flexcompute.com/",
        "name": "Flexcompute",
        "description": "FlexCompute.com Website",
        "publisher": {
          "@id": "https://flexcompute.com/#organization"
        },
        "inLanguage": "en",
        "copyrightHolder": {
          "@id": "https://flexcompute.com/#organization"
        }
      },
      {
        "@type": "WebPage",
        "@id": "https://flexcompute.com/#webpage",
        "url": "https://flexcompute.com",
        "name": "Flexcompute",
        "isPartOf": {
          "@id": "https://flexcompute.com/#website"
        },
        "about": {
          "@id": "https://flexcompute.com/#organization"
        },
        "primaryImageOfPage": {
          "@id": "https://flexcompute.com/#primaryimage"
        },
        "datePublished": "2020-07-28T14:20:47+00:00",
        "dateModified": "2022-09-19T11:28:11+00:00",
        "description": "Flexcompute.com Homepage",
        "breadcrumb": {
          "@id": "https://flexcompute.com#breadcrumb"
        },
        "inLanguage": "en",
        "potentialAction": [
          {
            "@type": "ReadAction",
            "target": [
              "https://flexcompute.com"
            ]
          }
        ]
      },
      {
        "@type": "BreadcrumbList",
        "@id": "https://flexcompute.com/#breadcrumb",
        "ItemListElement": [
          {
            "@type": "ListItem",
            "position": 1,
            "name": "Home",
            "item": "https://flexcompute.com/",
            "@id": "https://flexcompute.com/#breadcrumb"
          }
        ]
      }
    ]
  }
</script>
