.codex-editor__redactor {
    padding-bottom: 100px !important;
}
.codex-editor__redactor .ce-block .ce-block__content {
    max-width: 100%;
}
#release-notes-container {
    position: relative;
    min-height: calc(100vh - 400px);
}

#release-notes-container .loading-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#release-notes-container .loading-container>i{
    font-size: 40px;
    color: #979696;
    animation: rotation 1s linear infinite;
    -moz-animation: rotation 1s linear infinite;
    -webkit-animation: rotation 1s linear infinite;
    -o-animation: rotation 1s linear infinite;
}
