<body data-aos-easing="ease-in-quad" data-aos-duration="400" data-aos-delay="0" style="text-align: justify;">

    <div id="scroll-to"></div>
    <div class="container aos-init aos-animate" data-aos="fade-up" data-aos-easing="ease-in-out">
        <h1>TERMS & CONDITIONS</h1>
        <div class="city">EFFECTIVE DATE: APRIL 20, 2022</div>
        <br><br>
        <p>The <a href="https://www.simulation.cloud" target="_blank">www.simulation.cloud</a>
            Platform (the Platform) Terms of Use (“Agreement”) is a legal agreement between you (“Subscriber”, “You”) and Flexcompute Inc., a Delaware corporation (“Flexcompute”, “We”, “Our”). Flexcompute is providing a software as service offering for cloud-based simulation of computational electrodynamics and fluid aerodynamics (“Service”). Please read these Terms of Use carefully before using the Platform. We may update this Agreement from time to time, and your continued use of the Platform constitutes acceptance by you of any updates.
        </p>
        <p style="margin-top: 60px;">
            BY
            COMPLETING A REGISTRATION FORM AND SELECTING “I ACCEPT” CHECKBOX
            DURING THE ACCOUNT REGISTRATION PROCESS OR BY USING THE PLATFORM
            YOU AGREE THAT YOU HAVE READ AND AGREE TO FULLY COMPLY WITH AND BE
            FULLY BOUND BY THIS AGREEMENT. YOU MUST BE OF A LEGAL AGE TO FORM A
            BINDING CONTRACT WITH FLEXCOMPUTE AND MUST NOT BE A PERSON PROHIBITED
            FROM ACCEPTING THE SERVICE UNDER THE LAWS OF THE UNITED STATES OF
            AMERICA.
        </p>
        <br><br>
        <h4>1. ACCESS TO THE SERVICE</h4>
        <ol class="list-number">
            <li value="1">
                To
                use the Service, the Subscriber must create an account using the
                Service home page www.simulation.cloud. The account is created by clicking on the “Sign Up” button on the
                home page, following the steps provided, and entering the necessary
                information.
            </li>
        </ol>
        <br>
        <h4>2. ACCEPTABLE USE</h4>
        <ol class="list-number">
            <li value="1">
                The
                Subscriber shall (1) comply with this Agreement while using the
                Service; (2) use all possible efforts to prevent unauthorized
                access to or use of the Service; (3) hold login information
                confidential; (4) immediately inform Flexcompute of any illegal or unauthorized
                activity or a security breach (including any loss, theft, or
                unauthorized disclosure or use of a username, password, or
                account). You agree that you will not reproduce, copy, duplicate,
                sell, resell, rent or trade the Service (or any part thereof) for
                any purpose. <br><br>
            </li>
            <li>The
                Subscriber shall not (1) permit any third party to access or use a
                username or password for the Service; (2) provide access to the
                Service account to another person (including for resale); (3) use the
                Services to process data that infringes third party trademarks,
                copyrights, or other intellectual property; (4) upload to the
                Service any file that contains or redirects to a virus, worm,
                Trojan horse, or other harmful technology or component that
                unlawfully accesses or downloads content or information stored
                within the Service or on the hardware of Flexcompute or any third
                party; (5) decompile, interfere with, hack, reverse engineer,
                disassemble, modify, copy, or disrupt the functionality, integrity,
                features, or performance of the Service; (6) attempt to gain
                unauthorized access to the Service or related systems or networks
                or to defeat, avoid, bypass, remove, deactivate, or otherwise
                circumvent any software protection or monitoring mechanisms of the
                Services; (7) access the Service in order to
                create a comparable or similar Service or copy any features,
                graphics, ideas, or functions of the Service; (8) create accounts
                for the Service by any means other than Service interface
                (scraping, creating accounts in bulk);
            </li>
        </ol>
        <br>
        <h4>3. UPLOADING OF FILES</h4>
        <ol class="list-number">
            <li value="1">
                The
                Subscriber shall upload files required for the provision of the
                Service (geometric information and mesh model for example). The
                Subscriber shall receive aerodynamics simulation data as a result
                of the provision of Service. The Subscriber is solely liable for
                the accuracy and completeness of the uploaded files.
                <br><br>
            </li>
            <li>
                The
                Subscriber can use the Services results in any applicable and legal
                way.
            </li>
        </ol>
        <br>
        <h4>4. TECHNICAL MATTERS</h4>
        <ol class="list-number">
            <li value="1">
                During
                the use of the Service, Flexcompute shall render reasonable
                technical support services and maintenance relating to the Service.
                <br><br>
            </li>
            <li>
                Flexcompute's
                Service may be temporarily unavailable due to scheduled system
                maintenance or events of force majeure. Scheduled system
                maintenance shall take place during a usual maintenance window,
                determined by Flexcompute. Emergency maintenance is required at
                other times in the event of system failure.
                <br><br>
            </li>
            <li>
              Troubleshooting and Technical Support: By using this software as a free or educational user, the Subscriber acknowledges and agrees that in the event of troubleshooting activities or technical support requests, Flexcompute's authorized personnel may need to access and review Subscriber user data, including but not limited to error logs, system configurations, and related information. This access is solely for the purpose of diagnosing and resolving any technical issues and improving the software's performance. Flexcompute respects the Subscriber's privacy and will handle the Subscriber's user data in accordance with Flexcompute's Privacy Policy.
              <br><br>
            </li>
        </ol>
        <br>
        <h4>5. FEES</h4>
        <ol class="list-number">
            <li value="1">
                Invoice Payment: Flexcompute will invoice the Subscriber prior to
                the processing of files uploaded for the provision of Services. All
                quoted fees are payable in advance and are exclusive of taxes,
                which Flexcompute will charge or invoice as applicable, and you
                agree to pay any such taxes applicable to your use of the Service.
                Payment instructions shall be as set out on Flexcompute’s
                invoice. All quotes and fees are payable prior the receiving of
                Service results.
            </li>
        </ol>
        <br>
        <h4>6. INTELLECTUAL PROPERTY</h4>
        <ol class="list-number">
            <li value="1">
                Flexcompute License Grant: The Subscriber owns the simulation results created in connection with Subscriber’s use of the Services. Flexcompute herewith grants to the Subscriber a permanent, irrevocable, non-exclusive, royalty-free, transferable right and license to use these results. The Subscriber is eligible to use the results of the Service for any legal purpose as well as to sell, resell, rent, lease or distribute it to any third party. Flexcompute does not own these results and may not use them for any purpose without explicit authorization from the Subscriber.
                <br><br>
            </li>
            <li>
                Platform
                ownership: All rights, copyrights, patents, trade secrets, trade
                dress, know-how, technical information, inventions, discoveries,
                improvements, ideas, concepts, discoveries and other proprietary
                rights, and any derivative works thereof (including Improvements)
                embodied in the Platform belong solely and exclusively to
                Flexcompute.
                <br><br>
            </li>
            <li>
                Trademarks:
                The Flexcompute, Flow360, and Tidy3D names and logos are trademarks of
                Flexcompute and may not be used, copied, or imitated, in whole or
                in part, without the express prior written approval of Flexcompute.
                The look and feel of the Platform (including all page
                headers, custom graphics, button icons, and scripts) form the
                trademarks, service marks and trade dress, belonging to Flexcompute
                and may not be used, copied and/or imitated in whole or in part,
                without the express prior written approval of Flexcompute.
            </li>
        </ol>
        <br>
        <h4>7. WARRANTIES, DISCLAIMER</h4>
        <ol class="list-number">
            <li value="1">
                Each
                party warrants and represents that it is eligible to enter into
                this Agreement.
                <br><br>
            </li>
            <li>
                Subscriber warrants
                and represents that its use of the Platform and the Service
                will comply with, and at all times meet, its representations and
                obligations outlined in Section 2.
                <br><br>
            </li>
            <li>
                DISCLAIMERS:
                EXCEPT AS EXPRESSLY PROVIDED HEREIN, THE PLATFORM AND THE SERVICES
                ARE PROVIDED “AS IS.” FLEXCOMPUTE DOES NOT PROVIDE ANY
                WARRANTIES OF ANY KIND, WHETHER EXPRESS, IMPLIED, STATUTORY, AND
                SPECIFICALLY DISCLAIMS ALL IMPLIED WARRANTIES, INCLUDING ANY
                WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE,
                ANY WARRANTY THAT THE SERVICES WILL BE UNINTERRUPTED OR ERROR-FREE
                OR FREE OF DEFECTS, ANY WARRANTY AS TO THE RESULTS THAT MAY BE
                OBTAINED FROM USE OF THE SERVICES OR OF NON-INFRINGEMENT, AND THAT
                SUCH RESULTS CAN BE USED FOR ACTUAL PRODUCING OF ANY GOODS OR
                PRODUCTS, AND ANY WARRANTY THAT IT CAN HANDLE UNEXPECTED PROCESSING
                VOLUMES (AS APPLICABLE), IN EACH CASE TO THE MAXIMUM EXTENT
                PERMITTED BY APPLICABLE LAW. NEITHER FLEXCOMPUTE NOR ANY THIRD-PARTY
                PROVIDER PROVIDES LEGAL OR REGULATORY ADVICE IN CONNECTION WITH THE
                SERVICES OR THE PLATFORM. Without limiting the foregoing
                disclaimers, the Subscriber agrees that Flexcompute shall not be
                liable for the failures, operations or acts or omissions of any of
                the foregoing.
            </li>
        </ol>
        <br>
        <h4>8. LIMITATION OF LIABILITY</h4>
        <ol class="list-number">
            <li value="1">
                THE
                SUBSCRIBER RECOGNIZES THAT ANY BREACH OF CLAUSE 2.2. OF THIS
                AGREEMENT WILL RESULT IN IRREPARABLE INJURY TO FLEXCOMPUTE AND THAT
                MONETARY DAMAGES ALONE WILL BE AN INADEQUATE REMEDY IN SUCH CASE.
                THE SUBSCRIBER THEREFORE AGREES THAT THE FLEXCOMPUTE MAY, IF IT SO
                ELECTS, INSTITUTE AND PROSECUTE PROCEEDINGS IN ANY COURT OF
                COMPETENT JURISDICTION, EITHER IN LAW OR IN EQUITY, TO OBTAIN
                DAMAGES FOR ANY BREACH OF THIS AGREEMENT, OR TO ENFORCE THE
                SPECIFIC PERFORMANCE OF THIS AGREEMENT BY THE SUBSCRIBER, OR TO
                RESTRAIN OR ENJOIN RECIPIENT FROM ALL ACTIVITIES IN VIOLATION OF
                THIS AGREEMENT. FLEXCOMPUTE SHALL BE ENTITLED TO RECOVER ANY AND
                ALL COSTS AND EXPENSES, INCLUDING, WITHOUT LIMITATION, REASONABLE
                ATTORNEYS’ FEES, IN ENFORCING THIS AGREEMENT.
                <br><br>
            </li>
            <li>
                IN
                NO EVENT SHALL (1) FLEXCOMPUTE BE LIABLE FOR INCIDENTAL, INDIRECT,
                SPECIAL, TORT OR CONSEQUENTIAL DAMAGES (INCLUDING BUT NOT LIMITED
                TO ANY DAMAGES RESULTING FROM LOSS OF BUSINESS, LOSS OF USE, LOSS
                OF PROFITS OR LOSS OF DATA, LOSS OF GOODWILL, WORK STOPPAGE,
                COMPUTER FAILURE OR MALFICTION) APPEARING OUT OF OR IN CONNECTION
                WITH THIS AGREEMENT OR THE SERVICE, EVEN IF SUCH PARTY HAS BEEN
                ADVISED OF THE LIKELIHOOD OF SUCH DAMAGES; (2) FLEXCOMPUTE’S
                AGGREGATE LIABILITY ARISING OUT OF OR RELATED TO THIS AGREEMENT
                (WHETHER IN CONTRACT, TORT OR UNDER ANY OTHER THEORY OF LIABILITY)
                EXCEED THE TOTAL AMOUNT PAID BY SUBSCRIBER HEREUNDER OR, WITH
                RESPECT TO ANY SINGLE INCIDENT, THE LESSER OF $10,000 OR THE AMOUNT
                PAID BY SUBSCRIBER HEREUNDER IN THE 12 MONTHS PRECEDING THE
                INCIDENT.
            </li>
        </ol>
        <br>
        <h4>9. INDEMNIFICATION</h4>
        <ol class="list-number">
            <li value="1">
                Flexcompute
                shall indemnify, defend and hold harmless the Subscriber against
                any demand, claim, penalties, suit, investigation, cost or
                proceeding made or brought against Subscriber by a third party
                claiming that the use of the Platform infringes or
                misappropriates the intellectual property rights of a third party.
                In such case Flexcompute shall indemnify Subscriber for any damages
                finally awarded against Subscriber in connection with any such
                Claim; provided, that Subscriber (1) promptly gives Flexcompute
                written notice of the Claim; (2) gives Flexcompute sole control of
                the defense and settlement of the Claim; and (3) provides
                Flexcompute all reasonable assistance, at Subscriber’s expense.
                <br><br>
            </li>
            <li>
                The
                Subscriber shall indemnify, defend, and hold harmless Flexcompute and
                its subsidiaries and employees (including but not limited to
                agents, licensors, managers and other affiliated companies and
                their employees, contractors, agents, officers, and directors) from
                and against any and all claims, damages, obligations, losses,
                liabilities, costs or debt, expenses (including but not limited to
                attorney’s fees) arising from: (1) any other party’s access and
                use of the Service with Subscriber’s unique username, password or
                other appropriate security code; (2) Subscriber’s violation of
                any term of this Agreement, including without limitation
                Subscriber’s breach of any of the representations or warranties
                hereunder or Subscriber’s Responsibilities set forth in Section 2
                or any of the Service-Specific Terms; (3) Subscriber’s use of and
                access to the Platform and the Services, including any Data or
                Content provided, transmitted or received by Subscriber; (4)
                Subscriber’s violation of any third-party right, including
                without limitation any right of privacy or intellectual property
                rights; (4) Subscriber’s willful misconduct.
            </li>
        </ol>
        <br>
        <h4>10. TERM AND TERMINATION</h4>
        <ol class="list-number">
            <li value="1">
                This
                Agreement will start on the date noted on the Confirmation Email
                transferred to the Subscriber and last until the Subscriber,
                account is terminated.
                <br><br>
            </li>
            <li>
                The
                Subscriber may terminate his account and/or stop using the Service
                at any time.
                <br><br>
            </li>
            <li>
                The
                Flexcompute may at any time immediately terminate or suspend all or
                a portion of Subscriber's account and/or access to the Service under
                the following circumstances: (a) violations of the Agreement or any
                other policies that are referenced herein; (d) a request and/or
                order from law enforcement, a judicial body, or other government
                agency; (c) Subscriber's participation in fraudulent or illegal
                activities.
                <br><br>
            </li>
            <li>
                In
                no event shall termination of this Agreement relieve the Subscriber
                of the responsibility to pay any Fees payable to Flexcompute for
                the period before the effective date of termination.
                <br><br>
            </li>
        </ol>
        <br>
        <h4>11. CONFIDENTIALITY</h4>
        <ol class="list-number">
            <li value="1">
                Confidential
                Information means all confidential information disclosed by one
                party (“Discloser”) to the other party (“Recipient”),
                whether orally, in writing, or any other possible way that is
                designated as confidential or that logically should be recognized
                as confidential when taking into account its nature and conditions of
                disclosure. Flexcompute's Confidential Information shall include the
                Platform. The Subscriber’s Confidential Information shall
                include the files uploaded for the provision of Service;
                Meanwhile, Confidential Information of both parties shall cover any
                marketing plans, business, technology, product plans, technical
                information, and designs, and business processes disclosed by such
                party.
                <br><br>
            </li>
            <li>
                The
                Recipient shall adopt the same level of care that it uses to
                protect its confidential information of like kind and shall not
                disclose or use any Confidential Information of the Discloser for
                any purpose outside the scope of this Agreement. The Recipient
                shall limit access to Confidential Information of the Discloser to
                those of its contractors, employees, and agents who need such
                access for purposes compatible with this Agreement and who have
                signed a non-disclosure agreement with the Recipient containing
                protections no less stringent than those herein.
                <br><br>
            </li>
            <li>
                Confidential
                Information shall not include any information that (a) is or
                becomes generally known to the public without breach of any
                obligation owed to the Discloser, (b) was known to the Recipient
                prior to its disclosure by the Discloser without breach of any
                obligation owed to the Discloser, (c) is received from a third
                party without breach of any obligation owed to the Discloser, or
                (d) was independently developed by the Recipient.
                <br><br>
            </li>
            <li>
                Without
                limiting the aforesaid, Flexcompute shall maintain proper physical,
                administrative and technical safeguards for security and
                confidentiality of the Subscriber's data in Flexcompute possession
                and control from unauthorized use and access. Flexcompute shall
                promptly notify the Subscriber in case of an unauthorized party
                accessing and acquiring Subscriber's data.
                <br><br>
            </li>
            <li>
                The
                Recipient may disclose Confidential Information of the Discloser if
                it is compelled by law to do so, provided the Recipient gives the
                Discloser a prior written notice of such compelled disclosure. In
                the case of when Confidential Information is disclosed as part of a
                civil proceeding to which the Discloser is a party, the Discloser
                shall not contest the disclosure.
            </li>
        </ol>
        <br>
        <h4>12. PRIVACY</h4>
        <ol class="list-number">
            <li value="1">
                Flexcompute
                shall process personal information processed, collected, used, and
                received by Flexcompute for the provision of the Service as per
                this Agreement and Flexcompute.
                <br><br>
            </li>
        </ol>
        <br>
        <h4>13. LAW AND JURISDICTION</h4>
        <ol class="list-number">
            <li value="1">
                This
                Agreement shall be governed by the law of the state of Delaware
                and controlling United States federal law, without regard to the
                choice or conflicts of law provisions of any jurisdiction. Any
                actions, disputes, causes of action, or claims arising out of, or in
                connection with, this Agreement or the Platform shall be subject to
                the exclusive jurisdiction of the state and federal courts located
                in the state of Delaware.
                <br><br>
            </li>
            <li>
                Both
                parties waive any right to jury trial in connection with
                any action or litigation in any way arising out of, or related to,
                this Agreement.
            </li>
        </ol>
        <br>
        <h4>14. MISCELLANEOUS</h4>
        <ol class="list-number">
            <li value="1">
                This
                Agreement does not create a partnership, franchise, joint venture,
                agency, fiduciary, or employment relationship between the parties.
                <br><br>
            </li>
            <li>
                Both
                parties shall comply with the export regulations and laws of the
                United States of America and other applicable jurisdictions in
                providing and using the Service. Without limiting the aforesaid,
                each party represents that it is not named on any U.S. government
                list of persons or entities prohibited from receiving exports.
            </li>
            <li>
                Neither
                party may assign any of its rights or obligations hereunder,
                without the prior written consent of the other party.
                <br><br>
            </li>
            <li>
                Any
                obligations and rights under this Agreement which by their nature
                should survive, (including, but not limited to any payment
                obligations invoiced prior to the termination or expiration hereof)
                will remain effective after termination or expiration hereof.
            </li>
        </ol>
    </div>
</body>
