<div id="hosted" style="height:100%; margin: 0 auto;">
  <div data-custom-class="body" style="text-align: justify;">
    <div><strong><span style="font-size: 26px;"><h1
                                                    data-custom-class="title">Flexcompute, Inc Trust Guide</h1></span></strong>
    </div>
    <div><span style="color: rgb(17, 17, 17);"><span style="font-size: 16px;"><span data-custom-class="subtitle">
      LAST UPDATED: APRIL 3, 2023
    </span></span></span>
    </div>
    <br><br>
    <div style="line-height: 1.5;">
        <span style="color: rgb(17, 17, 17);">
          <span style="color: rgb(17, 17, 17); font-size: 15px;">
            <span data-custom-class="body_text">
              As a cloud simulation software provider, Flexcompute is proud to assure our customers that their data is secure and protected at all times. Our services are independently audited for SOC2 compliance to ensure the highest standards of security, integrity, availability, and privacy.
            </span>
          </span>
        </span>
    </div>
    <div style="line-height: 1.5;"><span style="font-size: 15px;"><br></span></div>
    <div style="line-height: 1.5;">
        <span style="font-size: 15px;">
          <span style="color: rgb(17, 17, 17);">
            <span data-custom-class="body_text">
              Our network is routinely subjected to penetration testing to identify and address vulnerabilities, and we restrict access to customer data to only authorized personnel. Even our employees cannot access customer data without explicit authorization.
            </span>
          </span>
        </span>
    </div>
    <div style="line-height: 1.5;"><span style="font-size: 15px;"><br></span></div>
    <div style="line-height: 1.5;">
        <span style="font-size: 15px;">
          <span style="color: rgb(17, 17, 17);">
            <span data-custom-class="body_text">
              To further protect our customers' data, we recommend that they follow best practices for password protection, regularly review and monitor their accounts, and report any suspicious activity to us. Customer data is encrypted when stored in the cloud, or transmitted to and from the cloud and that appropriate access controls are in place to restrict who can view or modify the data.
            </span>
          </span>
        </span>
    </div>
    <div style="line-height: 1.5;"><span style="font-size: 15px;"><br></span></div>
    <div style="line-height: 1.5;">
        <span style="font-size: 15px;">
          <span style="color: rgb(17, 17, 17);">
            <span data-custom-class="body_text">
              We understand the importance of our customers' data, and we're committed to maintaining the highest standards of security and compliance. Our customers can trust us to keep their data safe and secure.
            </span>
          </span>
        </span>
    </div>
    <div style="line-height: 1.5;"><span style="font-size: 15px;"><br></span></div>
    <div style="line-height: 1.5;">
        <span style="font-size: 15px;">
          <span style="color: rgb(17, 17, 17);">
            <span data-custom-class="body_text">
              <a data-custom-class="link" class="color-primary-hover" href="mailto:compliance@flexcompute.com">Click here</a> to speak with our security team.
            </span>
          </span>
        </span>
    </div>
    <div style="line-height: 1.5;"><br></div>
    <!-- <div id="SOC" class="anchor-point" style="line-height: 1.5;">
        <span style="color: rgb(0, 0, 0); font-size: 15px">
          <strong><span data-custom-class="heading_1">REGULATORY COMPLIANCE</span></strong>
        </span>
    </div> -->
    <br><br>
    <h4 id="regulatory-compliance" class="anchor-point">REGULATORY COMPLIANCE</h4>
    <!-- <br> -->
    <h5>SOC 2</h5>
    <div style="line-height: 1.5;">
      <!-- <span data-custom-class="heading_2" style="color: rgb(0, 0, 0);">
        <span style="font-size: 15px;"><strong><u><br></u></strong><strong>SOC 2</strong></span>
      </span> -->
      <a data-custom-class="link" class="color-primary-hover" href="http://www.aicpa.org/soc4so">
        <img src="/assets/images/Trust-Guide/soc.png" alt="AICPA SOC"/>
      </a>
    </div>
    <div style="line-height: 1.5;"><span style="font-size: 15px;"><br></span></div>
    <div style="line-height: 1.5;">
        <span style="font-size: 15px;">
          <span style="color: rgb(17, 17, 17);">
            <span data-custom-class="body_text">
              <a data-custom-class="link" class="color-primary-hover"
                 href="https://www.aicpa-cima.com/topic/audit-assurance/audit-and-assurance-greater-than-soc-2">What is SOC 2?</a> - A SOC 2 examination is a report on controls at a service organization relevant to security, availability, processing integrity, confidentiality, or privacy. SOC 2 reports are intended to meet the needs of a broad range of users that need detailed information and assurance about the controls at a service organization relevant to security, availability, and processing integrity of the systems the service organization uses to process users’ data and the confidentiality and privacy of the information processed by these systems.
            </span>
          </span>
        </span>
    </div>
    <div style="line-height: 1.5;"><br></div>
    <div style="line-height: 1.5;">
        <span style="font-size: 15px; color: rgb(17, 17, 17);">
          <span style="font-size: 15px; color: rgb(17, 17, 17);">
            <span data-custom-class="body_text">A third-party auditor has found that:</span>
          </span>
        </span>
    </div>
    <ul>
      <li style="line-height: 1.5; list-style:none;">
          <span style="font-size: 15px; color: rgb(17, 17, 17);">
            <span style="font-size: 15px; color: rgb(17, 17, 17);">
              <span data-custom-class="body_text"><strong>1.</strong>
                The controls for Flexcompute's Simulation Platform provide assurance that Flexcompute's service commitments and system requirements would be achieved based on the applicable SOC 2 trust services criteria.
              </span>
            </span>
          </span>
      </li>
    </ul>
    <ul>
      <li style="line-height: 1.5; list-style:none;">
          <span style="font-size: 15px; color: rgb(17, 17, 17);">
            <span style="font-size: 15px; color: rgb(17, 17, 17);">
              <span data-custom-class="body_text"><strong>2.</strong>The controls operated effectively throughout the audit period.</span>
            </span>
          </span>
      </li>
    </ul>
    <!-- <div style="line-height: 1.5;">
      <span data-custom-class="heading_2" style="color: rgb(0, 0, 0);">
        <span style="font-size: 15px;"><strong><u><br></u></strong><strong>Export Control – EAR99</strong></span>
      </span>
    </div> -->
    <!-- <br>
    <h5>Export Control – EAR99</h5>
    <div style="line-height: 1.5;"><span style="font-size: 15px;"><br></span></div>
    <div style="line-height: 1.5;">
        <span style="font-size: 15px;">
          <span style="color: rgb(17, 17, 17);">
            <span data-custom-class="body_text">
              Flexcompute's policy on the "900" series of the Commerce Control List (CCL) states that most items in the series are controlled for Anti-terrorism 1 reasons and are restricted for export to specific countries. US persons and citizens of countries other than the restricted ones can access the information without a license, but the company will limit access for citizens of restricted countries and seek counsel for their access. The policy will not impact hiring decisions, and any changes will be made after consulting export control counsel.
            </span>
          </span>
        </span>
    </div>
    <div style="line-height: 1.5;"><span style="font-size: 15px;"><br></span></div>
    <div style="line-height: 1.5;">
      <span style="font-size: 15px;">
        <span style="color: rgb(17, 17, 17);">
          <span data-custom-class="body_text">
            <a data-custom-class="link" class="color-primary-hover"
               href="mailto:compliance@flexcompute.com">Click here</a> to request a copy of our compliance audits or to speak with our security team.
          </span>
        </span>
      </span>
    </div>
    <div style="line-height: 1.5;"><br></div> -->
    <br><br>
    <h4 id="privacy" class="anchor-point">PRIVACY</h4>
    <!-- <div id="Privacy" class="anchor-point" style="line-height: 1.5;">i
      <span style="color: rgb(0, 0, 0); font-size: 15px">
        <strong><span data-custom-class="heading_1">PRIVACY</span></strong>
      </span>
    </div> -->
    <div style="line-height: 1.5;"><span style="font-size: 15px;"><br></span></div>
    <div style="line-height: 1.5;">
      <span style="font-size: 15px;">
        <span style="color: rgb(17, 17, 17);">
          <span data-custom-class="body_text">
            The Flexcompute Engineer Production Access Policy ensures that only authorized personnel with a legitimate business need can access the Flexcompute environment. Access is granted only to the minimum extent necessary to perform the job function, with access approval and revocation requirements. Access to AWS Cloud Services and in-house servers is restricted, and customer data is removed permanently once computation is completed.
          </span>
        </span>
      </span>
    </div>
    <div style="line-height: 1.5;"><span style="font-size: 15px;"><br></span></div>
    <div style="line-height: 1.5;">
      <span style="font-size: 15px;">
        <span style="color: rgb(17, 17, 17);">
          <span data-custom-class="body_text">
            Also, Flexcompute's Terms & Conditions cover confidentiality and privacy policies. Confidential information is defined and protected, and access to it is limited to those who need it. Flexcompute is responsible for safeguarding the Subscriber's data, and the Recipient can disclose confidential information if compelled by law or civil proceeding but must provide prior notice. Personal information is handled in accordance with the agreement and privacy policy.
          </span>
        </span>
      </span>
    </div>
    <!--<div style="text-align: center; width: 100%">-->
    <!--  <img src="/assets/images/Trust-Guide/architecture.png" alt="architecture"/>-->
    <!--</div>-->
    <div style="line-height: 1.5;"><span style="font-size: 15px;"><br></span></div>
    <div style="line-height: 1.5;">
      <span style="font-size: 15px;">
        <span style="color: rgb(17, 17, 17);">
          <span data-custom-class="body_text">
            <a data-custom-class="link" class="color-primary-hover"
               href="mailto:compliance@flexcompute.com">Click here</a> to request copies of our Engineer Production Access Policy or Terms & Conditions, or to speak with our security team.
          </span>
        </span>
      </span>
    </div>
    <div style="line-height: 1.5;"><br></div>
    <!-- <div id="Security" class="anchor-point" style="line-height: 1.5;">
      <span style="font-size: 15px;color: rgb(0, 0, 0);">
        <strong><span data-custom-class="heading_1">SECURITY</span></strong>
      </span>
    </div> -->
    <br><br>
    <h4 id="security" class="anchor-point">SECURITY</h4>
    <div style="line-height: 1.5;"><span style="font-size: 15px;"><br></span></div>
    <div style="line-height: 1.5;">
      <span style="font-size: 15px;">
        <span style="color: rgb(17, 17, 17);">
          <span data-custom-class="body_text">
            Flexcompute's Network Security Policy provides a comprehensive set of technical guidelines for a secure network infrastructure and covers various security measures and policies:
          </span>
        </span>
      </span>
    </div>
    <div style="line-height: 1.5;"><span style="font-size: 15px;"><br></span></div>
    <table class="table table-bordered table-striped" style="font-size: 15px !important; line-height: 1.5 !important;">
      <thead>
      <tr style="background: rgba(196, 57, 89, 1); text-align: center">
        <th scope="col" style="vertical-align: middle !important;">Access Management</th>
        <th scope="col" style="vertical-align: middle !important;">IT Asset Management</th>
        <th scope="col" style="vertical-align: middle !important;">Logging and Documentation</th>
        <th scope="col" style="vertical-align: middle !important;">Networking Devices</th>
        <th scope="col" style="vertical-align: middle !important;">Networking Security Measures</th>
        <th scope="col" style="vertical-align: middle !important;">Security Testing</th>
      </tr>
      </thead>
      <tbody style="text-align: left; cursor: pointer">
      <tr style="background: rgba(196, 57, 89, .4);">
        <td {%if page.password_construction.enable %} tabindex="10" data-toggle="popover" title="Password construction" onclick="onOpenPopover(event)" {% endif %}>
          Password construction
          {% if page.password_construction.enable %}
          <div class="my-popover-content">
            {{page.password_construction.desc}}
            <ul class="list-unstyled">
              {% for item in page.password_construction.list %}
              <li class="font-size-14 line-height-1 align-items-start d-flex" style="column-gap: 8px">
                <span>&bull;</span>
                {{item.content}}
              </li>
              {% endfor %}
            </ul>
          </div>
          {% endif %}
        </td>
        <td {% if page.software_use_policy.enable %} tabindex="11" data-toggle="popover" title="Software use policy" onclick="onOpenPopover(event)"{%endif%}>
          Software use policy
          {% if page.software_use_policy.enable %}
          <div class="my-popover-content">
            {{page.software_use_policy.desc}}
            <ul class="list-unstyled">
              {% for item in page.software_use_policy.list %}
              <li class="font-size-14 line-height-1 align-items-start d-flex" style="column-gap: 8px">
                <span>&bull;</span>
                {{item.content}}
              </li>
              {% endfor %}
            </ul>
          </div>
          {% endif %}
        </td>
        <td {% if page.log_management.enable %} tabindex="12" data-toggle="popover" title="Log management" onclick="onOpenPopover(event)" {%endif%}>
          Log management
          {% if page.log_management.enable %}
          <div class="my-popover-content">
            {{page.log_management.desc}}
            <ul class="list-unstyled">
              {% for item in page.log_management.list %}
              <li class="font-size-14 line-height-1 align-items-start d-flex" style="column-gap: 8px">
                <span>&bull;</span>
                {{item.content}}
              </li>
              {% endfor %}
            </ul>
          </div>
          {% endif %}
        </td>
        <td {% if page.networking_hardware.enable %} tabindex="13" data-toggle="popover" title="Networking hardware" onclick="onOpenPopover(event)" {%endif%}>
          Networking hardware
          {% if page.networking_hardware.enable %}
          <div class="my-popover-content">
            {{page.networking_hardware.desc}}
            <ul class="list-unstyled">
              {% for item in page.networking_hardware.list %}
              <li class="font-size-14 line-height-1 align-items-start d-flex" style="column-gap: 8px">
                <span>&bull;</span>
                {{item.content}}
              </li>
              {% endfor %}
            </ul>
          </div>
          {% endif %}
        </td>
        <td {% if page.firewalls.enable %} tabindex="14" data-toggle="popover" title="Firewalls" onclick="onOpenPopover(event)" {%endif%}>
          Firewalls
          {% if page.firewalls.enable %}
          <div class="my-popover-content">
            {{page.firewalls.desc}}
            <ul class="list-unstyled">
              {% for item in page.firewalls.list %}
              <li class="font-size-14 line-height-1 align-items-start d-flex" style="column-gap: 8px">
                <span>&bull;</span>
                {{item.content}}
              </li>
              {% endfor %}
            </ul>
          </div>
          {% endif %}
        </td>
        <td {% if page.security_testing.enable %} tabindex="15" data-toggle="popover" title="Security testing (both internal and audited external)" onclick="onOpenPopover(event)" {%endif%}>
          Security testing (both internal and audited external)
          {% if page.security_testing.enable %}
          <div class="my-popover-content">
            {{page.security_testing.desc}}
            <ul class="list-unstyled">
              {% for item in page.security_testing.list %}
              <li class="font-size-14 line-height-1 align-items-start d-flex" style="column-gap: 8px">
                <span>&bull;</span>
                {{item.content}}
              </li>
              {% endfor %}
            </ul>
          </div>
          {% endif %}
        </td>
      </tr>
      <tr style="background: rgba(196, 57, 89, .1)">
        <td {% if page.administrative_access.enable %} tabindex="16" data-toggle="popover" title="Administrative access" onclick="onOpenPopover(event)"{%endif%}>
          Administrative access
          {% if page.administrative_access.enable %}
          <div class="my-popover-content">
            {{page.administrative_access.desc}}
            <ul class="list-unstyled">
              {% for item in page.administrative_access.list %}
              <li class="font-size-14 line-height-1 align-items-start d-flex" style="column-gap: 8px">
                <span>&bull;</span>
                {{item.content}}
              </li>
              {% endfor %}
            </ul>
          </div>
          {% endif %}
        </td>
        <td {% if page.it_asset_disposal.enable %} tabindex="17" data-toggle="popover" title="IT asset disposal" onclick="onOpenPopover(event)"{%endif%}>
          IT asset disposal
          {% if page.it_asset_disposal.enable %}
          <div class="my-popover-content">
            {{page.it_asset_disposal.desc}}
            <ul class="list-unstyled">
              {% for item in page.it_asset_disposal.list %}
              <li class="font-size-14 line-height-1 align-items-start d-flex" style="column-gap: 8px">
                <span>&bull;</span>
                {{item.content}}
              </li>
              {% endfor %}
            </ul>
          </div>
          {% endif %}
        </td>
        <td {% if page.network_documentation.enable %} tabindex="18" data-toggle="popover" title="Network documentation" onclick="onOpenPopover(event)"{%endif%}>
          Network documentation
          {% if page.network_documentation.enable %}
          <div class="my-popover-content">
            {{page.network_documentation.desc}}
            <ul class="list-unstyled mb-5">
              {% for item in page.network_documentation.list %}
              <li class="font-size-14 line-height-1 align-items-start d-flex" style="column-gap: 8px">
                <span>&bull;</span>
                {{item.content}}
              </li>
              {% endfor %}
            </ul>
            {% if page.network_documentation.after_desc %}
            {{page.network_documentation.after_desc}}
            {% endif %}
          </div>
          {% endif %}
        </td>
        <td {% if page.network_servers.enable %} tabindex="19" data-toggle="popover" title="Network servers" onclick="onOpenPopover(event)"{%endif%}>
          Network servers
          {% if page.network_servers.enable %}
          <div class="my-popover-content">
            {{page.network_servers.desc}}
            <ul class="list-unstyled">
              {% for item in page.network_servers.list %}
              <li class="font-size-14 line-height-1 align-items-start d-flex" style="column-gap: 8px">
                <span>&bull;</span>
                {{item.content}}
              </li>
              {% endfor %}
            </ul>
          </div>
          {% endif %}
        </td>
        <td {% if page.outbound_traffic_filtering.enable %} tabindex="20" data-toggle="popover" title="Outbound traffic filtering" onclick="onOpenPopover(event)"{%endif%}>
          Outbound traffic filtering
          {% if page.outbound_traffic_filtering.enable %}
          <div class="my-popover-content">
            {{page.outbound_traffic_filtering.desc}}
            <ul class="list-unstyled">
              {% for item in page.outbound_traffic_filtering.list %}
              <li class="font-size-14 line-height-1 align-items-start d-flex" style="column-gap: 8px">
                <span>&bull;</span>
                {{item.content}}
              </li>
              {% endfor %}
            </ul>
          </div>
          {% endif %}
        </td>
        <td {% if page.suspected_security_incidents.enable %} tabindex="21" data-toggle="popover" title="Suspected security incidents" onclick="onOpenPopover(event)"{%endif%}>
          Suspected security incidents
          {% if page.suspected_security_incidents.enable %}
          <div class="my-popover-content">
            {{page.suspected_security_incidents.desc}}
            <ul class="list-unstyled">
              {% for item in page.suspected_security_incidents.list %}
              <li class="font-size-14 line-height-1 align-items-start d-flex" style="column-gap: 8px">
                <span>&bull;</span>
                {{item.content}}
              </li>
              {% endfor %}
            </ul>
          </div>
          {% endif %}
        </td>
      </tr>
      <tr style="background: rgba(196, 57, 89, .4)">
        <td {% if page.manufacturer_support_contracts.enable %} tabindex="22" data-toggle="popover" title="Manufacturer support contracts" onclick="onOpenPopover(event)"{%endif%}>
          Manufacturer support contracts
          {% if page.manufacturer_support_contracts.enable %}
          <div class="my-popover-content">
            {{page.manufacturer_support_contracts.desc}}
            <ul class="list-unstyled">
              {% for item in page.manufacturer_support_contracts.list %}
              <li class="font-size-14 line-height-1 align-items-start d-flex" style="column-gap: 8px">
                <span>&bull;</span>
                {{item.content}}
              </li>
              {% endfor %}
            </ul>
          </div>
          {% endif %}
        </td>
        <td></td>
        <td {% if page.maintenance_windows.enable %} tabindex="24" data-toggle="popover" title="Maintenance windows" onclick="onOpenPopover(event)"{%endif%}>
          Maintenance windows
          {% if page.maintenance_windows.enable %}
          <div class="my-popover-content">
            {{page.maintenance_windows.desc}}
            <ul class="list-unstyled">
              {% for item in page.maintenance_windows.list %}
              <li class="font-size-14 line-height-1 align-items-start d-flex" style="column-gap: 8px">
                <span>&bull;</span>
                {{item.content}}
              </li>
              {% endfor %}
            </ul>
          </div>
          {% endif %}
        </td>
        <td {% if page.network_compartmentalization.enable %} tabindex="25" data-toggle="popover" title="Network compartmentalization" onclick="onOpenPopover(event)"{%endif%}>
          Network compartmentalization
          {% if page.network_compartmentalization.enable %}
          <div class="my-popover-content">
            {{page.network_compartmentalization.desc}}
            {% if page.network_compartmentalization.paragraphs %}
            {% for paragraph in page.network_compartmentalization.paragraphs %}
            <div class="space10"></div>
            <h4 class="mb-0 font-size-14">{{paragraph.title}}</h4>
            <p class="mb-0 font-size-14">{{paragraph.desc}}</p>
            {% if paragraph.list %}
            <ul class="list-unstyled">
              {% for item in paragraph.list %}
              <li class="font-size-14 line-height-1 align-items-start d-flex" style="column-gap: 8px">
                <span>&bull;</span>
                {{item.content}}
              </li>
              {% endfor %}
            </ul>
            {%endif%}
            {%endfor%}
            {%endif%}
          </div>
          {% endif %}
        </td>
        <td {% if page.intrusion_detection.enable %} tabindex="26" data-toggle="popover" title="Intrusion detection / prevention systems" onclick="onOpenPopover(event)"{%endif%}>
          Intrusion detection / prevention systems
          {% if page.intrusion_detection.enable %}
          <div class="my-popover-content">
            {{page.intrusion_detection.desc}}
            <ul class="list-unstyled">
              {% for item in page.intrusion_detection.list %}
              <li class="font-size-14 line-height-1 align-items-start d-flex" style="column-gap: 8px">
                <span>&bull;</span>
                {{item.content}}
              </li>
              {% endfor %}
            </ul>
          </div>
          {% endif %}
        </td>
        <td {% if page.security_policy_compliance.enable %} tabindex="27" data-toggle="popover" title="Security policy compliance" onclick="onOpenPopover(event)"{%endif%}>
          Security policy compliance
          {% if page.security_policy_compliance.enable %}
          <div class="my-popover-content">
            {{page.security_policy_compliance.desc}}
            {% if page.security_policy_compliance.paragraphs %}
            {% for paragraph in page.security_policy_compliance.paragraphs %}
            <div class="space10"></div>
            <h4 class="mb-0 font-size-14">{{paragraph.title}}</h4>
            <p class="mb-0 font-size-14">{{paragraph.desc}}</p>
            {% if paragraph.list %}
            <ul class="list-unstyled">
              {% for item in paragraph.list %}
              <li class="font-size-14 line-height-1 align-items-start d-flex" style="column-gap: 8px">
                <span>&bull;</span>
                {{item.content}}
              </li>
              {% endfor %}
            </ul>
            {% endif %}
            {% endfor %}
            {% endif %}
          </div>
          {% endif %}
        </td>
      </tr>
      <tr style="background: rgba(196, 57, 89, .1)">
        <td></td>
        <td></td>
        <td {% if page.change_management.enable %} tabindex="30" data-toggle="popover" title="Change management" onclick="onOpenPopover(event)"{%endif%}>
          Change management
          {% if page.change_management.enable %}
          <div class="my-popover-content">
            {{page.change_management.desc}}
            <ul class="list-unstyled">
              {% for item in page.change_management.list %}
              <li class="font-size-14 line-height-1 align-items-start d-flex" style="column-gap: 8px">
                <span>&bull;</span>
                {{item.content}}
              </li>
              {% endfor %}
            </ul>
          </div>
          {% endif %}
        </td>
        <td></td>
        <td {% if page.antivirus.enable %} tabindex="32" data-toggle="popover" title="Antivirus/anti-malware software" onclick="onOpenPopover(event)"{%endif%}>
          Antivirus/anti-malware software
          {% if page.antivirus.enable %}
          <div class="my-popover-content">
            {{page.antivirus.desc}}
            <ul class="list-unstyled">
              {% for item in page.antivirus.list %}
              <li class="font-size-14 line-height-1 align-items-start d-flex" style="column-gap: 8px">
                <span>&bull;</span>
                {{item.content}}
              </li>
              {% endfor %}
            </ul>
          </div>
          {% endif %}
        </td>
        <td {% if page.applicability_of_other_policies.enable %} tabindex="33" data-toggle="popover" title="Applicability of other policies" onclick="onOpenPopover(event)"{%endif%}>
          Applicability of other policies
          {% if page.applicability_of_other_policies.enable %}
          <div class="my-popover-content">
            {{page.applicability_of_other_policies.desc}}
            <ul class="list-unstyled">
              {% for item in page.applicability_of_other_policies.list %}
              <li class="font-size-14 line-height-1 align-items-start d-flex" style="column-gap: 8px">
                <span>&bull;</span>
                {{item.content}}
              </li>
              {% endfor %}
            </ul>
          </div>
          {% endif %}
        </td>
      </tr>
      </tbody>
    </table>
    <div style="line-height: 1.5;"><span style="font-size: 15px;"><br></span></div>
    <div style="line-height: 1.5;">
      <span style="font-size: 15px;">
        <span style="color: rgb(17, 17, 17);">
          <span data-custom-class="body_text">
            <a data-custom-class="link" class="color-primary-hover"
               href="mailto:compliance@flexcompute.com">Click here</a> to request a copy of our Network Security Policy or to speak with our security team.
          </span>
        </span>
      </span>
    </div>
  </div>
</div>

<script>
  function onOpenPopover(e){
    popoverOptions = {
      content: function () {
        // Get the content from the hidden sibling.
        return $(this).children('.my-popover-content').html();
      },
      trigger: 'click', // focus, hover, click
      animation: false,
      placement: 'right',
      html: true
    };
    $('[data-toggle="popover"]').popover('hide');
    $(e.target).popover(popoverOptions)
    $(e.target).popover('show')
  }

  (function (){
    document.addEventListener('click', e => {
      const isPopover = e.target.getAttribute('data-toggle') === 'popover';
      if (isPopover){
        e.preventDefault();
      }
      const popoverDom = document.getElementsByClassName('popover show')[0]
      if (!isPopover && popoverDom && !popoverDom.contains(e.target)){
        $('[data-toggle="popover"]').popover('hide');
        $(popoverDom).popover('hide');
      }
    })
  })()
</script>
