---
layout: default
author: Flexcompute
custom_font: font2
custom_css:
  - unit-css
  - newsroom
title: "Aerodynamics & Electromagnetics News | Flexcompute"
description: "Construct key photonic circuit components with this comprehensive notebook."
tags:
- Simulation Software Releases
- CFD simulation features
- Electromagnetic simulation features
- FDTD method simulation software
- Tidy3D Web for EM client
- Tidy3D Python for EM client
- Flow360 Web for CFD client
- Flow360 Python for CFD client
- CFD simulation technology news
- EM simulation in FDTD news
---
{% include header.html extra_class="absolute transparent" logo_class="logo fc-logo" container_class="container" %}
<div class="wrapper bg-opacity-default">
  <div class="container inner pt-100 pb-0">
    {% include newsroom/news-highlight.html %}
    <div class="space60"></div>
    {% include newsroom/news-by-category.html %}
    <div class="space60"></div>
    {% include newsroom/social-platforms.html %}
    <div class="space60"></div>
    {% include newsroom/feature-blog.html %}
    <div class="space60"></div>
    {% include newsroom/feature-publication.html %}
  </div>
</div>
<div class="space80"></div>
{% include footer_2.html %}
<script>
  function stopPropagation(event){
    event.stopPropagation()
  }
</script>
