---
layout: default
title: "How to apply for Tidy3D teaching program to obtain free FDTD simulations | Flexcompute"
custom_font: font2
custom_css:
  - educational-programs
custom_js:
  - utils/download
description: If you are an instructor teaching STEM courses in Physics, Electromagnetics, Optics, Photonics, or related fields (online courses and workshops included), apply now to earn free FDTD licenses for you and your students.
enable_hubspot_form: true
tags:
  - FDTD
  - FDTD software
  - FDTD lecture
  - FDTD free
  - FDTD student
  - FDTD professor
  - FDTD Python
  - Tidy3D
  - Educational program
  - education licenses
  - teaching program

author: Flexcompute
hero_section:
  enable: true
  title: Teaching Program
  sub_title: "By applying for the Tidy3D teaching program you can earn FREE licenses to you and your students."
  features:
    - title: "Who can apply"
      description: "Instructors teaching STEM courses in Physics, Electromagnetics, Optics, Photonics, or related fields (online courses and workshops included)."
      enable: true
    - title: "How to apply"
      description: "Fill out the form below to provide the initial information we need to start the process. A Tidy3D representative will then contact you to schedule a short call to understand your needs and provide detailed information about the teaching program."
      enable: true
    - title: "FREE teaching material"
      enable: true
      files:
        - name: FDTD_Method.pdf
          link: "/assets/files/FDTD_Method.pdf"
        - name: FDTD_Method.pptx
          link: "/assets/files/FDTD_Method.pptx"


trusted:
  enable: true
  title: "Trusted by Researchers Worldwide"
  universities:
    - logo: "/assets/images/clients/university/MIT.png"
      text: "MIT"
      width: 75
      height: 34
      enable: true
    - logo: "/assets/images/clients/university/Harvard.png"
      text: "Harvard University"
      width: 135
      height: 35
      enable: true
    - logo: "/assets/images/clients/university/California-Berkeley.png"
      text: "California-Berkeley"
      width: 116
      height: 37
      enable: true
    - logo: "/assets/images/clients/university/Stanford.png"
      text: "Stanford"
      width: 115
      height: 35
      enable: true
    - logo: "/assets/images/clients/university/Washington.png"
      enable: true
      width: 97
      height: 48
      text: "Washington"
    - logo: "/assets/images/clients/university/Chicago.png"
      text: "Chicago"
      width: 132
      height: 43
      enable: true
    - logo: "/assets/images/clients/university/Princeton.png"
      text: "Princeton"
      width: 126
      height: 41
      enable: true
    - logo: "/assets/images/clients/university/Arizona.png"
      text: "Arizona"
      width: 126
      height: 29
      enable: true
    - logo: "/assets/images/clients/university/Rensselaer-Institude-of-Technology.png"
      text: "Rensselaer Institude of Technology"
      enable: true
      width: 126
      height: 23
    - logo: "/assets/images/clients/university/Pennsylvania.png"
      text: "Pennsylvania"
      width: 120
      height: 45
      enable: true
    - logo: "/assets/images/clients/university/Johns-Hopkins.png"
      text: "Johns Hopkins"
      width: 151
      height: 38
      enable: true
    - logo: "/assets/images/clients/university/Northwestern.png"
      text: "Northwestern"
      width: 135
      height: 32
      enable: true
    - logo: "/assets/images/clients/university/Maryland.png"
      width: 134
      height: 21
      text: "Maryland"
      enable: true
    - logo: "/assets/images/clients/university/California-Santa-Barbara.png"
      text: "California-Santa-Barbara"
      width: 96
      height: 39
      enable: true
    - logo: "/assets/images/clients/university/Wisconsin-Madison.png"
      text: "Wisconsin-Madison"
      width: 125
      height: 45
      enable: true
    - logo: "/assets/images/clients/university/Brown.png"
      text: "Brown"
      width: 111
      height: 63
      enable: true
    - logo: "/assets/images/clients/university/Rochester.png"
      text: "Rochester"
      width: 137
      height: 42
      enable: true
    - logo: "/assets/images/clients/university/Columbia.png"
      text: "Columbia"
      width: 141
      height: 21
      enable: true
    - logo: "/assets/images/clients/university/Hong-Kong.png"
      text: "Hong-Kong"
      width: 131
      height: 18
      enable: true
    - logo: "/assets/images/clients/university/Academy-of-Sciences.png"
      text: "Academy-of-Sciences"
      width: 128
      height: 27
      enable: true
    - logo: "/assets/images/clients/university/Science-and-Technology.png"
      text: "Science and Technology"
      width: 80
      height: 52
      enable: true
form_section:
  enable: true
  list:
    - title: Instructor Information
      enable: true
      form_fields:
        - field_tag: input
          field_type: text
          field_name: SingleLine
          maxlength: "255"
          label: First Name
          required: true
          change: "onValueChange('SingleLine')"
          error_message: First Name is required
        - field_tag: input
          field_type: text
          field_name: SingleLine1
          maxlength: "255"
          label: Last Name
          required: true
          change: "onValueChange('SingleLine1')"
          error_message: Last Name is required
        - field_tag: input
          field_type: eamil
          field_name: Email
          label: Email
          maxlength: 255
          required: true
          change: "onValueChange('Email')"
          error_message: Email is required
        - field_tag: input
          field_type: text
          field_name: SingleLine2
          maxlength: "255"
          label: Title
          required: false
    - title: Organization Information
      enable: true
      form_fields:
        - field_tag: input
          field_type: text
          field_name: SingleLine3
          maxlength: "255"
          label: Organization Name
          required: true
          change: "onValueChange('SingleLine3')"
          error_message: Organization Name is required
        - field_tag: input
          field_type: text
          field_name: SingleLine5
          maxlength: "255"
          label: Department
          required: false
        - field_tag: select
          field_type: select
          field_name: Dropdown
          label: Country
          source: country
          required: true
          change: "onValueChange('Dropdown')"
          error_message: Country is required
    - title: Course Information
      enable: true
      form_fields:
        - field_tag: input
          field_type: text
          maxlength: "255"
          field_name: SingleLine6
          label: Course Name
          required: true
          change: "onValueChange('SingleLine6')"
          error_message: Course Name is required
        - field_tag: input
          field_type: text
          field_name: Number
          label: Number of Students
          required: true
          change: "onValueChange('Number')"
          error_message: Number of Students is required
        - field_tag: date
          field_type: date
          field_name: Date
          label: Starting Date
          required: true
          class: col-md-6
          change: "handleDateChange('Date',event)"
          error_message: Starting Date is required
        - field_tag: date
          field_type: date
          field_name: Date1
          label: Ending Date
          class: col-md-6
          required: true
          change: "handleDateChange('Date1', event)"
          error_message: Ending Date is required
        - field_tag: upload
          field_type: file
          field_name: FileUpload
          label: Upload Course Syllabus
          required: true
          hide_label: true
          accept: ".pdf"
          multiple: false
          change: "handleFileUpload(event)"
          click: "onClickUploadBtn('FileUpload',event)"
          error_message: Upload Course Syllabus
---
{% include header.html extra_class="absolute transparent" logo_class="logo fc-logo" container_class="container" %}
<div class="wrapper bg-opacity-default">
  <div class="container inner pt-100 pt-md-10 pb-0">
    {%if page.hero_section.enable%}
    {%assign hero_section = page.hero_section%}
    {% if hero_section.title %}
    <h1 class="font-size-32 color-dark-3 line-height-56">{{hero_section.title}}</h1>
    {%endif%}
    {% if hero_section.sub_title %}
    <p class="color-dark-5 font-size-18 line-height-24 mb-10">{{hero_section.sub_title}}</p>
    {%endif%}
    {% if hero_section.features %}
    <div class="space30"></div>
    <div class="row">
      {%for feature in hero_section.features%}
      {%if feature.enable%}
      <div class="col-12 col-md-6">
        {%if feature.title%}
        <h2 class="color-dark-5 font-size-16 line-height-28 font-weight-700 mb-0">{{feature.title}}</h2>
        {%endif%}
        {% if feature.description %}
        <p class="color-dark-5 line-height-28 mb-10">{{feature.description}}</p>
        {%endif%}
        {% if feature.files %}
        <div>
          {%for file in feature.files%}
          <span onclick="handleDownload('{{file.link}}')" class="color-primary-hover mr-20" style="cursor: pointer">{{file.name}}</span>
          {% endfor %}
        </div>
        {%endif%}
      </div>
      {%endif%}
      {%endfor%}
    </div>
    {%endif%}
    {%endif%}
    <div class="space50"></div>
    <div class="row">
      {% if page.form_section.enable %}
      <div class="col-12 col-lg-6 form-area-border position-relative">
        {% include educational-program/teaching-program-form.html form_list=page.form_section.list %}
      </div>
      {%endif%}
      {%if page.trusted.enable%}
      <div class="col-12 col-lg-6" style="max-width: 600px">
        <h2 class="font-size-36 line-height-36 color-dark-3 text-right">{{page.trusted.title}}</h2>
        <div class="university-box d-flex align-items-center justify-content-end flex-wrap">
          {% for item in page.trusted.universities %}
          {% assign itemIndex = forloop.index %}
          {% assign four = itemIndex | plus: 2 | modulo: 6 %}
          {% assign five = itemIndex | plus: 1 | modulo: 6 %}
          {% assign six = itemIndex | plus: 0 | modulo: 6%}
          <div class="item gray {% if 0 == four or 0 == five or 0 == six  %}even-row{%endif%}">
            <img width="{{item.width}}" height="{{item.height}}" src="{{item.logo}}" alt="{{item.text}}">
          </div>
          {%endfor%}
        </div>
      </div>
      {%endif%}
    </div>
  </div>
</div>
<div class="space80"></div>
{% include footer_2.html %}
